<!-- home.html -->

{% extends 'base.html' %}

{% load static %}
{% load custom_filters %}

{% block title %}User Address{% endblock %}

{% block content %}
<!-- =================================== Navbar Begin ====================================== -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
        <button class="navbar-toggler mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav d-flex align-items-center me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <button class="nav-link active btn btn-link" style="min-width: 150px;" aria-current="page">
                        <a class="text-black text-decoration-none" href="{% url "main:home" %}">Men</a>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link btn btn-link" style="min-width: 150px;" aria-current="page">
                        <a class="text-black text-decoration-none" href="{% url "main:home_women" %}">Women</a>
                    </button>
                </li>
            </ul>
            <ul class="navbar-nav d-flex flex-row justify-content-center  ms-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                <div class="btn-group">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Hi {{user.first_name}}
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'accounts:user_profile' user.id %}">Profile</a></li>
                        <li><a class="dropdown-item" href="#">Addresses</a></li>
                        <li><a class="dropdown-item" href="#">Orders</a></li>
                    </ul>
                  </div>
                <li class="nav-item ms-3 ms-lg-0">
                    <form action="{% url 'accounts:logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="nav-link" style="border: none; background: none;"
                            data-toggle="tooltip" title="Logout">
                            <i style='font-size:24px' class='fas'>&#xf2f5;</i>
                        </button>
                    </form>
                </li>
                {% else %}
                <li class="nav-item ms-3 ms-lg-0">
                    <a class="nav-link" >Hi Guest</a>
                </li>
                <li class="nav-item ms-3 ms-lg-0">
                    <a class="nav-link" href="/accounts/login/" data-toggle="tooltip" title="Login">
                        <i style="font-size:24px" class="fa">&#xf007;</i></a>
                </li>
                {% endif %}
            </ul>
        </div>
        </div>
    </nav>
<!-- =========================== Navbar End =========================== -->

<!-- =========================== Address Section begin =========================== -->
    <section class="container my-2">
        {% if addresses %}
        <h5 class="border-bottom border-top border-3 border-dark-subtle fw-bold fs-2 fs-lg-5 mt-2 text-center">
            Addresses
            {% if address_count < 3  %}
            <span>
                <button class="btn btn-outline-primary my-2" data-toggle="tooltip" title="Add New"
                onclick="window.location.href='{% url 'accounts:add_address' %}'">
                    <img class="logo" src="{% static 'images/add_icon.png' %}" alt="add">
                </button>
            </span>
            {% else %}
            <span><h2>(Maximum 3 Addresses only.)</h2></span>
            {% endif %}
            
        </h5>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
            {% for address in addresses %}
            <div class="col mt-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Address Details - {{forloop.counter}}</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Name:</strong> {{ address.name }}</li>
                            <li class="list-group-item"><strong>House Name:</strong> {{ address.house_name }}</li>
                            <li class="list-group-item"><strong>Street Name 1:</strong> {{ address.street_name_1 }}</li>
                            <li class="list-group-item"><strong>Street Name 2:</strong> {{ address.street_name_2 }}</li>
                            <li class="list-group-item"><strong>City:</strong> {{ address.city }}</li>
                            <li class="list-group-item"><strong>State:</strong> {{ address.state }}</li>
                            <li class="list-group-item"><strong>Pincode:</strong> {{ address.pincode }}</li>
                            <li class="list-group-item"><strong>Phone Number:</strong> {{ address.phone_number }}</li>
                        </ul>
                        <a href="{% url "accounts:edit_address" address.id %}" class="btn fs-4"><i class="bi bi-pencil-square"></i></a>
                        <form id="deleteAddressForm" action="{% url "accounts:delete_address" address.id %}" method="post" 
                            class="d-inline" onsubmit="return confirmDelete()">
                            {% csrf_token %}
                            <button type="submit" class="btn fs-4"><i class="bi bi-trash3"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>

        {% else %}
        <h5 class="border-bottom border-top border-3 border-dark-subtle fw-bold fs-2 fs-lg-5 mt-2 text-center">
            Addresses
            <span>
                <button class="btn btn-outline-primary my-2" data-toggle="tooltip" title="Add New"
                onclick="window.location.href='{% url 'accounts:add_address' %}'">
                    <img class="logo" src="{% static 'images/add_icon.png' %}" alt="add">
                </button>
            </span>
        </h5>
        <h2 class="text-info my-2">
            No Address Yet
        </h2>
        {% endif %}

    </section>
<!-- =========================== Address Section end =========================== -->

    <script>
        function confirmDelete() {
            return confirm("Are you sure you want to delete this address?");
        }
    </script>
{% endblock %}

