{% extends 'admin_base.html' %}

{% load static %}
{% load custom_filters %}

{% block title %}Admin Users{% endblock %}

{% block content %}
    <!-- Internal CSS for user block/unblock button color -->
    <style>
        .status-toggle.active {
            /* Button style when active */
            background-color: green;
        }

        .status-toggle.inactive {
            /* Button style when inactive */
            background-color: red;
        }
    </style>

<!-- =================================== Navbar Begin ====================================== -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
        <button class="navbar-toggler mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav d-flex align-items-center me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <button class="nav-link active btn btn-link" style="min-width: 150px;" aria-current="page">
                        <a class="text-black text-decoration-none" href="/custom_admin/">Home</a>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link btn btn-link" style="min-width: 150px; background-color: #800020;" aria-current="page">
                        <a class="text-white text-decoration-none" href="#">Users</a>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link btn btn-link" style="min-width: 150px;" aria-current="page">
                        <a class="text-black text-decoration-none" href="#">Orders</a>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link btn btn-link" style="min-width: 150px;" aria-current="page">
                        <a class="text-black text-decoration-none" href="{% url "custom_admin:admin_products" %}">Products</a>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link btn btn-link" style="min-width: 150px;" aria-current="page">
                        <a class="text-black text-decoration-none" href="{% url "custom_admin:admin_categories" %}">Categories</a>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link btn btn-link" style="min-width: 150px;" aria-current="page">
                        <a class="text-black text-decoration-none" href="{% url "custom_admin:admin_usages" %}">Usages Types</a>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link btn btn-link" style="min-width: 150px;" aria-current="page">
                        <a class="text-black text-decoration-none" href="{% url "custom_admin:admin_measurements" %}">Measurement Types</a>
                    </button>
                </li>   
            </ul>
            <ul class="navbar-nav d-flex flex-row justify-content-center  ms-auto mb-2 mb-lg-0">
                <li class="nav-item ms-3 ms-lg-0">
                    <a class="nav-link" href="{% url "main:home" %}">UserHome</a>
                </li>
                <li class="nav-item ms-3 ms-lg-0">
                    <form id="logout-form" action="/accounts/logout/" method="post">
                        {% csrf_token %}
                        <button type="submit" class="nav-link btn btn-link">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
        </div>
    </nav>
<!-- =========================== Navbar End =========================== -->
    
<!-- =========================== Search section begin =========================== -->
    <div class="container w-50 py-3">
        <div class="d-flex flex-column flex-sm-row align-items-center justify-content-between">
            <div class="input-group">  <select class="form-select" aria-label="Search options">
                <option value="email">Email</option>
                <option value="order_id">Order ID</option>
              </select>
              <input type="text" class="form-control w-50" placeholder="Search">
            </div>
            <button type="button" class="btn btn-primary mt-3 mt-sm-0">Search</button>
          </div>             
    </div>
<!-- =========================== Search section end =========================== -->
<!-- =========================== user section begin =========================== -->
    <section class="mb-2">
        <div class="container-fluid">
            <div class="container-fluid text-center px-0">
                <h5 class="border-bottom border-top border-3 border-dark-subtle fw-bold fs-2 fs-lg-5">Users</h5>
            </div>
            <div class="row h-100">
                <div class="col-12">
                    <div class="table-responsive text-center">
                        <table class="table  table-hover">
                            <thead>
                            <tr>
                                <th scope="col">ID#</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Email ID</th>
                                <th scope="col">Order ID</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            {% for user in users  %}
                            <tbody>
                                <tr>
                                    <th scope="col">{{ user.id }}</th>
                                    <td>{{ user.first_name }}</td>
                                    <td>{{ user.last_name }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>To be filled</td>
                                    <td>
                                        <button class="status-toggle text-white btn btn-sm"
                                            data-user-id="{{ user.id }}"
                                            data-is-active="{{ user.is_active }}">
                                            {{ user.is_active|yesno:"Block,Unblock" }}  
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="pagination justify-content-center">
                        {% if users.has_previous %}
                            <a href="?page=1" class="page-link">&laquo; First</a>
                            <a href="?page={{ users.previous_page_number }}" class="page-link">Previous</a>
                        {% endif %}
                        <span class="current-page">{{ users.number }}</span>
                        /
                        <span class="total-pages">{{ users.paginator.num_pages }}</span>
                        {% if users.has_next %}
                            <a href="?page={{ users.next_page_number }}" class="page-link">Next</a>
                            <a href="?page={{ users.paginator.num_pages }}" class="page-link">Last &raquo;</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>

<!-- =========================== user section end =========================== -->
<!-- =========================== user section JS begin =========================== -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const statusButtons = document.querySelectorAll('.status-toggle');

        // Function to set initial status of each button
    function setInitialStatus(button) {
        const isActive = button.dataset.isActive.toLowerCase() === 'true';

        // Toggle button color based on initial isActive status
        if (isActive) {
            button.classList.add('active'); // Add the 'active' class
        } else {
            button.classList.add('inactive'); // Add the 'inactive' class
        }
    }

        statusButtons.forEach(button => {
            // Set initial status of each button
            setInitialStatus(button);

            button.addEventListener('click', function(event) {
                event.preventDefault(); // Prevent default form submission

                const userId = this.dataset.userId;
                const isActive = this.dataset.isActive.toLowerCase() === 'true'; // Converting the state to opposite

                // Display confirmation dialog
                const confirmed = confirm("Are you sure you want to change the status?");
                if (!confirmed) {
                    return; // Don't proceed if not confirmed
                }

                // Get CSRF token from cookies
                const csrftoken = getCookie('csrftoken');


                axios.post('/custom_admin/', {
                    is_active: !isActive,
                    user_id: userId
                }, {
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest',
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrftoken
                    }
                })
                .then(response => {
                    if (response.data.success) {
                        // Update UI or provide feedback to the user
                        console.log('Status updated successfully');

                        // Get the button element that was clicked
                        const button = event.target;

                        // Update the data-is-active attribute to reflect the new state
                        button.dataset.isActive = !isActive;

                        // Update the button text based on the new user status
                        button.textContent = !isActive ? 'Block' : 'Unblock';

                       // Toggle button color based on isActive status
                        this.classList.toggle('active', !isActive);
                        this.classList.toggle('inactive', isActive);
                    } else {
                        console.error('Error updating status:', response.data.error);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            });
        });
    });

    // Function to get CSRF token from cookies
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

</script>
<!-- =========================== user section JS end =========================== -->

{% endblock  %}