{% extends 'admin_base.html' %}

{% load static %}
{% load custom_filters %}

{% block title %}Admin Return Request{% endblock %}

{% block content %}

<!-- =================================== Navbar Begin ====================================== -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
        <button class="navbar-toggler mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav d-flex align-items-center me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="btn text-black" href="{% url "custom_admin:admin_home" %}">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="btn text-black" href="{% url "custom_admin:admin_users" %}" >
                        Users
                    </a>
                </li>
                <li class="nav-item">
                    <a class="btn text-black" href="{% url "custom_admin:admin_orders" %}">
                        Orders
                    </a>
                </li>
                <li class="nav-item">
                    <a class="btn text-black" href="{% url "custom_admin:admin_products" %}" >
                        Products
                    </a>
                </li>
                <li class="nav-item">
                    <a class="btn text-black" href="{% url "custom_admin:admin_categories" %}">
                        Categories
                    </a>
                </li>
                <li class="nav-item">
                    <a class="btn text-black" href="{% url "custom_admin:admin_usages" %}" >
                        Dress Type
                    </a>
                </li>
                <li class="nav-item">
                    <a class="btn text-black" href="{% url "custom_admin:admin_measurements" %}">
                        Measurements
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="btn text-white dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" 
                        aria-expanded="false" style=" background-color: #800020;">
                        More
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url "custom_admin:admin_order_return" %}">
                            Return Request</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav d-flex flex-row justify-content-center  ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <form id="search-form">
                        <div class="input-group">
                            <input type="text" id="search-input" name="query">
                            <button class="btn btn-outline-secondary" type="submit">Search</button>
                        </div>
                    </form>
                </li>
                <li class="nav-item ms-3 ms-lg-0">
                    <a class="nav-link" href="{% url "main:home" %}">UserHome</a>
                </li>
                <li class="nav-item ms-3 ms-lg-0">
                    <form id="logout-form" action="/accounts/logout/" method="post">
                        {% csrf_token %}
                        <button type="submit" class="nav-link btn btn-link">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
        </div>
    </nav>
<!-- =========================== Navbar End =========================== -->

{% endblock content %}