{% extends 'admin_base.html' %}

{% load static %}

{% block title %}Admin Orders{% endblock %}

{% block content %}

<!-- =================================== Navbar Begin ====================================== -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
        <button class="navbar-toggler mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav d-flex align-items-center me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <button class="nav-link active btn btn-link" style="min-width: 150px;" aria-current="page">
                        <a class="text-black text-decoration-none" href="/custom_admin/">Home</a>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link btn btn-link" style="min-width: 150px;" aria-current="page">
                        <a class="text-black text-decoration-none" href="/custom_admin/users/">Users</a>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link btn btn-link" style="min-width: 150px;  background-color: #800020;" aria-current="page">
                        <a class="text-white text-decoration-none" href="#">Orders</a>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link btn btn-link" style="min-width: 150px;" aria-current="page">
                        <a class="text-black text-decoration-none" href="{% url "custom_admin:admin_products" %}">Products</a>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link btn btn-link" style="min-width: 150px;" aria-current="page">
                        <a class="text-black text-decoration-none" href="{% url "custom_admin:admin_categories" %}">Categories</a>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link btn btn-link" style="min-width: 150px;" aria-current="page">
                        <a class="text-black text-decoration-none" href="{% url "custom_admin:admin_usages" %}">Usages Types</a>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link btn btn-link" style="min-width: 150px;" aria-current="page">
                        <a class="text-black text-decoration-none" href="{% url "custom_admin:admin_measurements" %}">Measurement Types</a>
                    </button>
                </li>
                <li class="nav-item">
                    <form id="search-form">
                        <div class="input-group">
                            <input type="text" id="search-input" name="query">
                            <button class="btn btn-outline-secondary" type="submit">Search</button>
                        </div>
                    </form>
                </li>
            </ul>
            <ul class="navbar-nav d-flex flex-row justify-content-center  ms-auto mb-2 mb-lg-0">
                <li class="nav-item ms-3 ms-lg-0">
                    <a class="nav-link" href="{% url "main:home" %}">UserHome</a>
                </li>
                <li class="nav-item ms-3 ms-lg-0">
                    <form id="logout-form" action="/accounts/logout/" method="post">
                        {% csrf_token %}
                        <button type="submit" class="nav-link btn btn-link">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
        </div>
    </nav>
<!-- =========================== Navbar End =========================== -->

<!-- =========================== products section begin =========================== -->
    <section class="mb-2">
        <div class="container-fluid">
            <div class="container-fluid text-center px-0">
                <h5 class="border-bottom border-top border-3 border-dark-subtle fw-bold fs-2 fs-lg-5 mt-2">
                   Orders
                </h5>
            </div>
            <div class="container-fluid d-flex justify-content-end">
                <select class="form-select w-50 mb-2" id="order-status" name="order-status">
                    <option value="All" selected>Filter Order Status</option>
                    <option value="All" >All status</option>
                    <option value="Pending">Pending</option>
                    <option value="Shipping">Shipping</option>
                    <option value="Delivered">Delivered</option>
                    <option value="Cancelled">Cancelled</option>
                  </select>
            </div>
            <div class="row h-100">
                <div class="col-12">
                    <div class="table-responsive text-center">
                        <table class="table  table-hover">
                            <thead>
                            <tr>
                                <th scope="col">Sr#</th>
                                <th scope="col">ID#</th>
                                <th scope="col">User Name</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Date Added</th>
                                <th scope="col">
                                    <span id="order-status-heading">
                                        Status
                                    </span>
                                    <span id="order-status-success-msg" 
                                            class="alert alert-success fade show fs-6 w-50 mx-auto py-2 m-0" 
                                            role="alert" style="display: none;">
                                            updated.
                                    </span>
                                </th>
                            </tr>
                            </thead>
                            <tbody id="product-table-body">
                                {% for serial_number, order in zipped_data %}
                                <tr>
                                    <th scope="row">{{ serial_number }}</th>
                                    <td>{{ order.id }}</td>
                                    <td>{{ order.customer_id.username }}</td>
                                    <td>{{ order.price }}</td>
                                    <td>{{ order.quantity }}</td>
                                    <td>{{ order.add_date }}</td>
                                    <td>
                                        <select class="status-select btn btn-outline-secondary"
                                            data-order-id="{{ order.id }}"
                                            onchange="changeOrderStatus(this)">
                                        {% for status in order.STATUS_CHOICES %}
                                            <option value="{{ status.0 }}" {% if order.status == status.0 %} selected {% endif %}>
                                                {{ status.1 }}
                                            </option>
                                        {% endfor %}
                                        </select>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="pagination justify-content-center">
                        {% if orders.has_previous %}
                            <a href="?page=1" class="page-link">&laquo; First</a>
                            <a href="?page={{ orders.previous_page_number }}" class="page-link">Previous</a>
                        {% endif %}
                        {% for page in orders.paginator.page_range %}
                        <a href="?page={{ page }}" class="page-link {% if orders.number == page %}active{% endif %}">{{ page }}</a>
                        {% endfor %}
                        {% if orders.has_next %}
                            <a href="?page={{ orders.next_page_number }}" class="page-link">Next</a>
                            <a href="?page={{ orders.paginator.num_pages }}" class="page-link">Last &raquo;</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- =========================== products section end =========================== -->

<!-- ====================== JS ============================= -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    // To make search result with axios. on submit it calls searchOrders() to
    // request axios with search query
    document.getElementById('search-form').addEventListener('submit', function(event) {
    event.preventDefault();
    const query = document.getElementById('search-input').value.trim();
    const orderStatus = document.getElementById('order-status').value;

    searchOrders(query, orderStatus, 1);  // Initial search, start from page 1
    
});

    function searchOrders(query, orderStatus, page) {

        axios.get('/custom_admin/orders/search/', { 
        params: { 
                    query: query,
                    orderStatus: orderStatus,
                    page: page
                } 
            })
            .then(function(response) {
                const tableBody = document.getElementById('product-table-body');
                tableBody.innerHTML = ''; // Clear previous results
                response.data.data.forEach(function(order) {
                    const row = document.createElement('tr');
                    row.innerHTML = `
                        <th scope="row">${order.serial_number}</th>
                        <td>${order.id}</td>
                        <td>${order.username}</td>
                        <td>${order.price}</td>
                        <td>${order.qty}</td>
                        <td>${order.add_date}</td>
                        <td>
                            <select class="status-select btn btn-outline-secondary"
                                    data-order-id="${order.id}"
                                    onchange="changeOrderStatus(this)">
                                ${getStatusOptions(order.status)}
                            </select>
                        </td>
                    `;
                    tableBody.appendChild(row);
                });

                // Update pagination links based on response
                const pagination = document.querySelector('.pagination');
                pagination.innerHTML = '';
                if (response.data.has_previous) {
                    pagination.innerHTML += `<a href="#" onclick="searchOrders('${query}', '${orderStatus}', ${page - 1})" class="page-link">&laquo; Previous</a>`;
                }
                for (let i = 1; i <= response.data.pages; i++) {
                    pagination.innerHTML += `<a href="#" onclick="searchOrders('${query}', '${orderStatus}', ${i})" class="page-link">${i}</a>`;
                }
                if (response.data.has_next) {
                    pagination.innerHTML += `<a href="#" onclick="searchOrders('${query}', '${orderStatus}', ${page + 1})" class="page-link">Next &raquo;</a>`;
                }
            })
            .catch(function(error) {
                console.error('Error:', error);
            });
    }

    // To make order status choices (options for select element) 
    // to build table in the search result.
    function getStatusOptions(selectedStatus) {
        const statusChoices = [
            ['P', 'Pending'],
            ['S', 'Shipping'],
            ['D', 'Delivered'],
            ['C', 'Cancelled']
        ];
        let options = '';
        for (const status of statusChoices) {
            const isSelected = status[0] === selectedStatus;
            options += `<option value="${status[0]}" ${isSelected ? 'selected' : ''}>${status[1]}</option>`;
        }
        return options;
    }


    // Function to change order status
    function changeOrderStatus(selectElement) {
        const orderId = selectElement.dataset.orderId;
        const newStatus = selectElement.value;

        // Get CSRF token from the global variable
        const csrfToken = "{{ csrf_token }}";

        // Send a POST request to update the order status
        axios.post('/custom_admin/orders/', {
            order_id: orderId,
            new_status: newStatus
        }, {
            headers: {
                'X-CSRFToken': csrfToken
            }
        })
        .then(response => {
            // Handle success response
            console.log('Order status updated successfully:', response.data);

            var successMessage = document.getElementById('order-status-success-msg');
            var statusHeading = document.getElementById('order-status-heading');
            statusHeading.style.display = 'none';
            successMessage.style.display = 'block';
            setTimeout(function() {
                statusHeading.style.display = 'block';
                successMessage.style.display = 'none';
            }, 1500);
            
        })
        .catch(error => {
            // Handle error response
            console.error('Error updating order status:', error);
            
        });
    }
</script>

{% endblock content %}