{% extends 'admin_base.html' %}

{% load static %}

{% block title %}Admin Measurements{% endblock %}

{% block content %}
<!-- =================================== Navbar Begin ====================================== -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <button class="navbar-toggler mb-3" type="button" data-bs-toggle="collapse" 
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav d-flex align-items-center me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="btn text-black" href="{% url "custom_admin:admin_home" %}">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn text-black" href="{% url "custom_admin:admin_users" %}">
                            Users
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn text-black" href="{% url "custom_admin:admin_orders" %}">
                            Orders
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn text-black" href="{% url "custom_admin:admin_products" %}">
                            Products
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn text-black" href="{% url "custom_admin:admin_categories" %}">
                            Categories
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn text-black" href="{% url "custom_admin:admin_usages" %}">
                            Dress Type
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn text-white" href="{% url "custom_admin:admin_measurements" %}" 
                            style="background-color: #800020;">
                            Measurements
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="btn text-black dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" 
                            aria-expanded="false">
                            More
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url "custom_admin:admin_order_return" %}">
                                Return Request</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="navbar-nav d-flex flex-row justify-content-center  ms-auto mb-2 mb-lg-0">
                    <li class="nav-item ms-3 ms-lg-0">
                        <a class="btn" href="{% url "main:home" %}"
                            data-toggle="tooltip" title="User Home">
                            <i style="font-size:24px" class="fa">&#xf015;</i>
                        </a>
                    </li>
                    <li class="nav-item ms-3 ms-lg-0">
                        <form action="{% url 'accounts:logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="nav-link" style="border: none; background: none;"
                                data-toggle="tooltip" title="Logout">
                                <i style='font-size:24px' class='fas'>&#xf2f5;</i>
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<!-- =========================== Navbar End =========================== -->

<!-- =========================== categories section begin =========================== -->
    <section class="mb-2">
        <div class="container-fluid">
            <div class="container-fluid text-center px-0">
                <h5 class="border-bottom border-top border-3 border-dark-subtle fw-bold fs-2 fs-lg-5 mt-2">
                    Measurements
                    <span>
                        <button class="btn btn-outline-primary my-2" onclick="window.location.href='{% url 'custom_admin:admin_measurement_add' %}'">
                            <img class="logo" src="{% static 'images/add_icon.png' %}" alt="add">
                        </button>
                    </span>
                </h5>
            </div>
            <div class="row h-100">
                <div class="col-12">
                    <div class="table-responsive text-center">
                        <table class="table  table-hover">
                            <thead>
                            <tr>
                                <th scope="col">Sr#</th>
                                <th scope="col">ID#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for serial_number, measurement in zipped_data %}
                                <tr>
                                    <th scope="row">{{ serial_number }}</th>
                                    <td>{{ measurement.id }}</td>
                                    <td>{{ measurement.name }}</td>
                                    <td>
                                        <button class="btn btn-sm">
                                            <a href="{% url "custom_admin:admin_measurement_edit" measurement.id %}" class="btn btn-primary">Edit</a>
                                            <a href="{% url "custom_admin:admin_measurement_delete" measurement.id %}" class="btn btn-danger">Delete</a>
                                        </button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="pagination justify-content-center">
                        {% if measurements.has_previous %}
                            <a href="?page=1" class="page-link">&laquo; First</a>
                            <a href="?page={{ measurements.previous_page_number }}" class="page-link">Previous</a>
                        {% endif %}
                        {% for page in measurements.paginator.page_range %}
                        <a href="?page={{ page }}" class="page-link {% if measurements.number == page %}active{% endif %}">{{ page }}</a>
                        {% endfor %}
                        {% if measurements.has_next %}
                            <a href="?page={{ measurements.next_page_number }}" class="page-link">Next</a>
                            <a href="?page={{ measurements.paginator.num_pages }}" class="page-link">Last &raquo;</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- =========================== categories section end =========================== -->


{% endblock content %}