{% extends 'admin_base.html' %}

{% load static %}
{% load custom_filters %}

{% block title %}Admin Users{% endblock %}

{% block content %}
    <!-- Internal CSS for user block/unblock button color -->
    <style>
        .status-toggle.active {
            /* Button style when active */
            background-color: green;
        }

        .status-toggle.inactive {
            /* Button style when inactive */
            background-color: red;
        }
    </style>

<!-- =================================== Navbar Begin ====================================== -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
        <button class="navbar-toggler mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav d-flex align-items-center me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="btn text-black" href="{% url "custom_admin:admin_home" %}" >
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="btn text-white" href="{% url "custom_admin:admin_users" %}" 
                    style="background-color: #800020;">
                        Users
                    </a>
                </li>
                <li class="nav-item">
                    <a class="btn text-black" href="{% url "custom_admin:admin_orders" %}" >
                        Orders
                    </a>
                </li>
                <li class="nav-item">
                    <a class="btn text-black" href="{% url "custom_admin:admin_products" %}" >
                        Products
                    </a>
                </li>
                <li class="nav-item">
                    <a class="btn text-black" href="{% url "custom_admin:admin_categories" %}" >
                        Categories
                    </a>
                </li>
                <li class="nav-item">
                    <a class="btn text-black" href="{% url "custom_admin:admin_usages" %}" >
                        Dress Type
                    </a>
                </li>
                <li class="nav-item">
                    <a class="btn text-black" href="{% url "custom_admin:admin_measurements" %}">
                        Measurements
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav d-flex flex-row justify-content-center  ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <form id="search-form">
                        <div class="input-group">
                            <input type="text" id="search-input" name="query">
                            <button class="btn btn-outline-secondary" type="submit">Search</button>
                        </div>
                    </form>
                </li>
                <li class="nav-item ms-3 ms-lg-0">
                    <a class="nav-link" href="{% url "main:home" %}">UserHome</a>
                </li>
                <li class="nav-item ms-3 ms-lg-0">
                    <form id="logout-form" action="/accounts/logout/" method="post">
                        {% csrf_token %}
                        <button type="submit" class="nav-link btn btn-link">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
        </div>
    </nav>
<!-- =========================== Navbar End =========================== -->
    
<!-- =========================== user section begin =========================== -->
    <section class="mb-2">
        <div class="container-fluid">
            <div class="container-fluid text-center px-0">
                <h5 class="border-bottom border-top border-3 border-dark-subtle fw-bold fs-2 fs-lg-5">Users</h5>
            </div>
            <div class="row h-100">
                <div class="col-12">
                    <div class="table-responsive text-center">
                        <table class="table  table-hover">
                            <thead>
                            <tr>
                                <th scope="col">Sr#</th>
                                <th scope="col">ID#</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">User Name</th>
                                <th scope="col">Email ID</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody id="product-table-body">
                                {% for serial_number, user in zipped_data %}
                                <tr>
                                    <th scope="row">{{ serial_number }}</th>
                                    <td>{{ user.id }}</td>
                                    <td>{{ user.first_name }}</td>
                                    <td>{{ user.last_name }}</td>
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>
                                        <button class="status-toggle text-white btn btn-sm"
                                            data-user-id="{{ user.id }}"
                                            data-is-active="{{ user.is_active }}">
                                            {{ user.is_active|yesno:"Block,Unblock" }}  
                                        </button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="pagination justify-content-center">
                        {% if users.has_previous %}
                            <a href="?page=1" class="page-link">&laquo; First</a>
                            <a href="?page={{ users.previous_page_number }}" class="page-link">Previous</a>
                        {% endif %}
                        {% for page in users.paginator.page_range %}
                        <a href="?page={{ page }}" class="page-link {% if users.number == page %}active{% endif %}">{{ page }}</a>
                        {% endfor %}
                        {% if users.has_next %}
                            <a href="?page={{ users.next_page_number }}" class="page-link">Next</a>
                            <a href="?page={{ users.paginator.num_pages }}" class="page-link">Last &raquo;</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>

<!-- =========================== user section end =========================== -->

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    // Function to get CSRF token from cookies
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    // Function to set initial status of each button
    function setInitialStatus(button) {
        const isActive = button.dataset.isActive.toLowerCase() === 'true';

        // Toggle button color based on initial isActive status
        if (isActive) {
            button.classList.add('active'); // Add the 'active' class
        } else {
            button.classList.add('inactive'); // Add the 'inactive' class
        }
    }

    // Function to attach event listeners to status toggle buttons
    function attachStatusToggleListeners() {
        const statusButtons = document.querySelectorAll('.status-toggle');
        statusButtons.forEach(button => {
            // Set initial status of each button
            setInitialStatus(button);

            button.addEventListener('click', function(event) {
                event.preventDefault(); // Prevent default form submission

                const userId = this.dataset.userId;
                const isActive = this.dataset.isActive.toLowerCase() === 'true';

                // Display confirmation dialog
                const confirmed = confirm("Are you sure you want to change the status?");
                if (!confirmed) {
                    return; // Don't proceed if not confirmed
                }

                // Get CSRF token from cookies
                const csrftoken = getCookie('csrftoken');

                axios.post('/custom_admin/users/', {
                    is_active: !isActive,
                    user_id: userId
                }, {
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest',
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrftoken
                    }
                })
                .then(response => {
                    if (response.data.success) {
                        // Update UI or provide feedback to the user
                        console.log('Status updated successfully');

                        // Get the button element that was clicked
                        const button = event.target;

                        // Update the data-is-active attribute to reflect the new state
                        button.dataset.isActive = !isActive;

                        // Update the button text based on the new user status
                        button.textContent = !isActive ? 'Block' : 'Unblock';

                        // Toggle button color based on isActive status
                        this.classList.toggle('active', !isActive);
                        this.classList.toggle('inactive', isActive);
                    } else {
                        console.error('Error updating status:', response.data.error);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            });
        });
    }

    // Call the function to attach event listeners during initial page load
    attachStatusToggleListeners();

    // JS for search orders
    document.getElementById('search-form').addEventListener('submit', function(event) {
        event.preventDefault();
        const query = document.getElementById('search-input').value.trim();

        searchUsers(query, 1);  // Initial search, start from page 1
    });

    function searchUsers(query, page) {
        axios.get('/custom_admin/users/search/', { params: { query: query, page: page } })
            .then(function(response) {
                const tableBody = document.getElementById('product-table-body');
                tableBody.innerHTML = ''; // Clear previous results
                response.data.data.forEach(function(user) {
                    const row = document.createElement('tr');

                    //  to make the status btn Html based on is_active value of
                    // This "{{ user.is_active|yesno:"Block,Unblock" }}" of Django
                    // template is not allowed in JS.
                    const statusLabel = user.is_active ? 'Block' : 'Unblock';
                    row.innerHTML = `
                        <th scope="row">${user.serial_number}</th>
                        <td>${user.id}</td>
                        <td>${user.first_name}</td>
                        <td>${user.last_name}</td>
                        <td>${user.username}</td>
                        <td>${user.email}</td>
                        <td>
                            <button class="status-toggle text-white btn btn-sm"
                                data-user-id="${user.id}"
                                data-is-active="${user.is_active}">
                                ${statusLabel}  
                            </button>
                        </td>
                    `;
                    tableBody.appendChild(row);
                });

                // Update pagination links based on response
                const pagination = document.querySelector('.pagination');
                pagination.innerHTML = '';
                if (response.data.has_previous) {
                    pagination.innerHTML += `<a href="#" onclick="searchUsers('${query}', ${page - 1})" 
                    class="page-link">&laquo; Previous</a>`;
                }
                for (let i = 1; i <= response.data.pages; i++) {
                    pagination.innerHTML += `<a href="#" onclick="searchUsers('${query}', ${i})" 
                    class="page-link ${i == page ? 'active' : ''}">${i}</a>`;
                }
                if (response.data.has_next) {
                    pagination.innerHTML += `<a href="#" onclick="searchUsers('${query}', ${page + 1})" 
                    class="page-link">Next &raquo;</a>`;
                }

                // Call the function to attach status btn event listeners after updating search results
                attachStatusToggleListeners();
            })
            .catch(function(error) {
                console.error('Error:', error);
            });
    }


</script>


{% endblock  %}