{% extends 'admin_base.html' %}

{% load static %}

{% block title %}Admin Products Add{% endblock %}

{% block content %}
<!-- =================================== Navbar Begin ====================================== -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <button class="navbar-toggler mb-3" type="button" data-bs-toggle="collapse" 
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav d-flex align-items-center me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="btn text-black" href="{% url "custom_admin:admin_home" %}">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="btn text-black" href="{% url "custom_admin:admin_users" %}" >
                        Users
                    </a>
                </li>
                <li class="nav-item">
                    <a class="btn text-black" href="{% url "custom_admin:admin_orders" %}" >
                        Orders
                    </a>
                </li>
                <li class="nav-item">
                    <a class="btn text-black" href="{% url "custom_admin:admin_products" %}" >
                        Products
                    </a>
                </li>
                <li class="nav-item">
                    <a class="btn text-black" href="{% url "custom_admin:admin_categories" %}" >
                        Categories
                    </a>
                </li>
                <li class="nav-item">
                    <a class="btn text-black" href="{% url "custom_admin:admin_usages" %}" >
                        Dress Type
                    </a>
                </li>
                <li class="nav-item">
                    <a class="btn text-black" href="{% url "custom_admin:admin_measurements" %}">
                        Measurements
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav d-flex flex-row justify-content-center  ms-auto mb-2 mb-lg-0">
                <li class="nav-item ms-3 ms-lg-0">
                    <a class="nav-link" href="{% url "main:home" %}">UserHome</a>
                </li>
                <li class="nav-item ms-3 ms-lg-0">
                    <form id="logout-form" action="/accounts/logout/" method="post">
                        {% csrf_token %}
                        <button type="submit" class="nav-link btn btn-link">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- =========================== Navbar End =========================== -->

<!-- =========================== product add begin =========================== -->
    <div class="container w-50">
        <h2 class="text-center">Add Product</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group my-2">
                <label for="id_name" class="form-label">Name</label>
                <input type="text" class="form-control" id="id_name" name="name" value="" required>
            </div>
            <div class="form-group my-2">
                <label for="id_price">Price:</label>
                <input type="number" class="form-control price-input" id="id_price" name="price" step="0.01" value="" required>
            </div>
            <div class="form-group my-2">
                <label for="id_image">Upload Image:</label>
                <div class="custom-file my-2">
                    <input type="file" class="custom-file-input" id="id_image" name="image" required>
                </div>
            </div>
            <div class="form-group my-2" style="height: 30vh;">
                <label for="id_description">Description:</label>
                <textarea class="form-control h-75" id="id_description" name="description" required></textarea>
            </div>
            <div class="form-group my-2">
                <label for="id_qty">Quantity:</label>
                <input type="number" class="form-control" id="id_qty" name="qty" value="" required>
            </div>
            <div class="form-group my-2">
                <label for="id_is_active">Is Active:</label>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="id_is_active" name="is_active" checked>
                </div>
            </div>
            <div class="container d-flex my-2" style="height: 25vh;">
                <div class="form-group me-5 my-2 h-100">
                    <label for="id_usages">Usages:</label>
                    <div class="h-75">
                        {{ form.usages }}
                    </div>
                </div>
                <div class="form-group me-5 my-2 h-100">
                    <label for="id_category_choices">Category Choices:</label>
                    <div class="h-75">
                        {{ form.category_choices }}
                    </div>
                </div>
            </div>
            <input type="hidden" name="next" value="{{ previous_url }}">
            <button type="submit" class="btn btn-primary my-2">Add</button>
            <a href="{{ previous_url }}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
<!-- =========================== product add end =========================== -->

{% endblock content %}