{% extends 'admin_base.html' %}

{% load static %}
{% load custom_filters %}

{% block title %}Admin Home{% endblock %}
{% block head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock head %}

{% block content %}
<!-- =================================== Navbar Begin ====================================== -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <button class="navbar-toggler mb-3" type="button" data-bs-toggle="collapse" 
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav d-flex align-items-center me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="btn text-white" href="{% url "custom_admin:admin_home" %}" 
                            style="background-color: #800020;">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn text-black" href="{% url "custom_admin:admin_users" %}" >
                            Users
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn text-black" href="{% url "custom_admin:admin_orders" %}" >
                            Orders
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn text-black" href="{% url "custom_admin:admin_products" %}" >
                            Products
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn text-black" href="{% url "custom_admin:admin_categories" %}" >
                            Categories
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn text-black" href="{% url "custom_admin:admin_usages" %}" >
                            Dress Type
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn text-black" href="{% url "custom_admin:admin_measurements" %}">
                            Measurements
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="btn text-black dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" 
                            aria-expanded="false">
                            More
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url "custom_admin:admin_order_return" %}">
                                Return Request</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="navbar-nav d-flex flex-row justify-content-center  ms-auto mb-2 mb-lg-0">
                    <li class="nav-item ms-3 ms-lg-0">
                        <a class="btn" href="{% url "main:home" %}"
                            data-toggle="tooltip" title="User Home">
                            <i style="font-size:24px" class="fa">&#xf015;</i>
                        </a>
                    </li>
                    <li class="nav-item ms-3 ms-lg-0">
                        <form action="{% url 'accounts:logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="nav-link" style="border: none; background: none;"
                                data-toggle="tooltip" title="Logout">
                                <i style='font-size:24px' class='fas'>&#xf2f5;</i>
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<!-- =========================== Navbar End =========================== -->

<!-- =========================== Graph section begin =========================== -->

    <!-- Sample chart model -->
    <div class="container d-flex flex-column flex-lg-row gap-3">
        <div class="container my-5 shadow" >
            <select class="form-select form-select-sm w-25 mx-auto mt-2" 
                id="year-orders" name="year-orders">
                {% for year in unique_years  %}
                <option value="{{year}}" {% if year == current_year %} selected {% endif %}>
                    {{year}}
                </option>
                {% endfor %}
            </select>
            <canvas id="chart-orders" style="max-width: 100%; height: 100%;"></canvas>
        </div>
        <div class="container my-5 shadow">
            <select class="form-select form-select-sm w-25 mx-auto mt-2" 
                id="year-sales" name="year-sales">
                {% for year in unique_years  %}
                <option value="{{year}}" {% if year == current_year %} selected {% endif %}>
                    {{year}}
                </option>
                {% endfor %}
            </select>
            <canvas id="chart-sales" style="max-width: 100%; height: 100%;"></canvas>
        </div>
    </div>
 <!-- =========================== Graph section end =========================== -->   

 <!-- =========================== Sales report begin =========================== -->
    <div class="container">
        <div class="d-flex flex-column flex-lg-row">
            <form id="sales-report-form" method="post" action="{% url 'custom_admin:sales_report' %}"
                class="border rounded-4 p-4 my-2 me-1 flex-shrink-0">
                {% csrf_token %}
                <h2 class="mb-3">
                    Sales report
                </h2>
                <div class="form-check">
                    <input class="form-check-input" type="radio" 
                        id="date_7day" name="selected_date"  value="7days" checked>
                    <label class="form-check-label" for="date_7day">
                    Last 7 days
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" 
                        id="date_30day" name="selected_date"  value="30days">
                    <label class="form-check-label" for="date_30day">
                    Last 30 days
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" 
                        id="custom_date" name="selected_date"  value="custom">
                    <label class="form-check-label" for="custom_date">
                    Custom date
                    </label>
                </div>
                <div class="my-2" id="date-fields" style="display: none;">
                    <label class="form-label">Select Date Range</label>
                    <input type="text" class="form-control" 
                        id="custom-date-range" name="custom_date_range">
                </div>
                <a id="view-report-link" class="btn btn-secondary mt-4" href="#">
                    View report
                </a><br>
                <button type="submit" class="btn btn-secondary my-4">
                    Download report
                </button>
            </form>
            <div class="border rounded-4 p-4 my-2 flex-grow-1">
                <h2>
                    Recent Orders
                </h2>
                <div class="table-responsive">
                    <table class="table w-100">
                        <thead>
                            <tr>
                                <th scope="col">Sr#</th>
                                <th scope="col">Date</th>
                                <th scope="col">Order id</th>
                                <th scope="col">Customer id</th>
                                <th scope="col">Product</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Price</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            {% for order in recent_orders %}
                                <tr>
                                    <th>{{ forloop.counter }}</th>
                                    <td>{{ order.add_date }}</td>
                                    <td>{{ order.id }}</td>
                                    <td>{{ order.customer_id.username }}</td>
                                    <td>{{ order.product_id.name }}</td>
                                    <td>{{ order.quantity }}</td>
                                    <td>{{ order.price }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
<!-- =========================== Sales report end =========================== -->


<!-- =========================== JS =========================== -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
    <script>
    const ctx1 = document.getElementById('chart-orders');
    const ctx2 = document.getElementById('chart-sales');
    
    let chartOrders = new Chart(ctx1, {
        type: 'bar',
        data: {
        labels: [{% for month in months_orders.keys %}'{{ month }}',{% endfor %}],
        datasets: [{
            label: 'Monthly Orders',
            data: [{% for order in months_orders.values %}'{{ order }}',{% endfor %}],
            borderWidth: 2,
            backgroundColor: 'rgba(128,0,32, 0.8)'
        }]
        },
        options: {
        scales: {
            x: {
                title: {
                    display: true,
                    text: 'Months'
                }
            },
            y: {
                beginAtZero: true,
                title: {
                    display: true,
                    text: 'Number of Orders'
                }
            }
        }
        }
    });

    let chartSales = new Chart(ctx2, {
        type: 'line',
        data: {
        labels: [{% for month in months_sales.keys %}'{{ month }}',{% endfor %}],
        datasets: [{
            label: 'Monthly Sales',
            data: [{% for sale in months_sales.values %}'{{ sale }}',{% endfor %}],
            borderWidth: 2,
            borderColor: 'rgba(128,0,32, 1)',
            backgroundColor: 'rgba(128,0,32, 0.2)',
            fill: true,
            tension: 0.2
        }]
        },
        options: {
        scales: {
            x: {
                title: {
                    display: true,
                    text: 'Months'
                }
            },
            y: {
                beginAtZero: true,
                title: {
                    display: true,
                    text: 'Rupees'
                }
            }
        }
        }
    });

    // To send axios upon change in select year for monthly orders chart.
    document.getElementById('year-orders').addEventListener('change', function(){
        const selectedYear = this.value;
        const csrfToken = "{{ csrf_token }}";

        axios.post('/custom_admin/',{
            'year': selectedYear
        },{
            
            headers: {
                'X-CSRFToken': csrfToken
            }
        })
        .then(response => {
            data = response.data
            console.log('Response recieved successfully', data)

            // Update chart data for chartOrders
            const monthsOrdersKeys = Object.keys(data.months_orders);
            const monthsOrdersValues = Object.values(data.months_orders);
            chartOrders.data.labels = monthsOrdersKeys;
            chartOrders.data.datasets[0].data = monthsOrdersValues;
            chartOrders.update();

        })
        .catch(error => {
            console.error('Error response recieved', error)
        });
    });

    // To send axios upon change in select year for monthly sales chart.
    document.getElementById('year-sales').addEventListener('change', function(){
        const selectedYear = this.value;
        const csrfToken = "{{ csrf_token }}";

        axios.post('/custom_admin/',{
            'year': selectedYear
        },{
            
            headers: {
                'X-CSRFToken': csrfToken
            }
        })
        .then(response => {
            data = response.data
            console.log('Response recieved successfully', data)

            // Update chart data for chartOrders
            const monthsSalesKeys = Object.keys(data.months_sales);
            const monthsSalesValues = Object.values(data.months_sales);
            chartSales.data.labels = monthsSalesKeys;
            chartSales.data.datasets[0].data = monthsSalesValues;
            chartSales.update();

        })
        .catch(error => {
            console.error('Error response recieved', error)
        });
    });


    // To toggle date range field, send get request for view page
    document.addEventListener("DOMContentLoaded", function() {
        const dateFields = document.getElementById('date-fields');
        const radioButtons = document.querySelectorAll('input[name="selected_date"]');
        const viewReportLink = document.getElementById('view-report-link');
        const customDateRangeInput = document.getElementById('custom-date-range');
        const salesReportForm = document.getElementById('sales-report-form');

        //To display date field upon selecting custom date
        function toggleDateFields() {
            console.log('Toggling date fields...');
            if (document.querySelector('input[name="selected_date"]:checked').value === 'custom') {
                console.log('Custom date selected.');   
                dateFields.style.display = 'block';
                flatpickr('#custom-date-range', {mode: 'range', dateFormat: 'Y-m-d'});
            } else {
                console.log('Other date range selected.');
                dateFields.style.display = 'none';
            }
        }
    
        radioButtons.forEach(radio => {
            radio.addEventListener('change', toggleDateFields);
        });
    
        // Initial check to display the date fields if 'custom' is already selected
        toggleDateFields();

        // Update href of view report link before clicking
        viewReportLink.addEventListener('click', function (event) {
            event.preventDefault(); 

            const selectedDate = document.querySelector('input[name="selected_date"]:checked').value;
            const customDateRange = customDateRangeInput.value;
            let url = "{% url 'custom_admin:sales_report' %}?selected_date=" + selectedDate;

            if (selectedDate === 'custom') {
                if (!customDateRange) {
                    alert('Please select a custom date range.');
                    return; // Stop the function if the custom date range is not filled.
                }
                url += "&custom_date_range=" + encodeURIComponent(customDateRange);
            }

            window.location.href = url; // Redirect to the new URL
        });

        // Download Form submission validation(check value for date range)
        salesReportForm.addEventListener('submit', function(event) {
            const selectedDate = document.querySelector('input[name="selected_date"]:checked').value;
            const customDateRange = customDateRangeInput.value.trim();
            
            if (selectedDate === 'custom' && !customDateRange) {
                event.preventDefault(); // Prevent form submission if custom date range is empty
                alert('Please select a custom date range.');
            }
        });

    });
    
    </script>
      
<!-- =========================== Graph section End =========================== -->


{% endblock  %}