{% extends 'admin_base.html' %}

{% load static %}

{% block title %}Admin Dress TYpe Delete{% endblock %}

{% block content %}


<!-- =========================== Category delete begin =========================== -->
    <div class="container w-50 bg-light text-center my-5 py-5">
        <h1>Confirm Delete</h1>
        <p>Are you sure you want to delete this dress type: {{ object.name }}?</p>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ previous_url }}">
            <button class="btn btn-danger" type="submit">Confirm Delete</button>
            <a class="btn btn-secondary" href="{{previous_url}}">Cancel</a>
        </form>
    </div>
<!-- =========================== category delete end =========================== -->

{% endblock content %}