{% extends 'admin_base.html' %}

{% load static %}

{% block title %}Admin Products{% endblock %}

{% block content %}
<!-- =================================== Navbar Begin ====================================== -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
        <button class="navbar-toggler mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav d-flex align-items-center me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <button class="nav-link active btn btn-link" style="min-width: 150px;" aria-current="page">
                        <a class="text-black text-decoration-none" href="/custom_admin/">Home</a>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link btn btn-link" style="min-width: 150px;" aria-current="page">
                        <a class="text-black text-decoration-none" href="/custom_admin/users/">Users</a>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link btn btn-link" style="min-width: 150px;" aria-current="page">
                        <a class="text-black text-decoration-none" href="#">Orders</a>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link btn btn-link" style="min-width: 150px;  background-color: #800020;" aria-current="page">
                        <a class="text-white text-decoration-none" href="#">Products</a>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link btn btn-link" style="min-width: 150px;" aria-current="page">
                        <a class="text-black text-decoration-none" href="#">Categories</a>
                    </button>
                </li>
            </ul>
            <ul class="navbar-nav d-flex flex-row justify-content-center  ms-auto mb-2 mb-lg-0">
                <li class="nav-item ms-3 ms-lg-0">
                    <a class="nav-link" href="/user/">UserHome</a>
                </li>
                <li class="nav-item ms-3 ms-lg-0">
                    <form id="logout-form" action="/accounts/logout/" method="post">
                        {% csrf_token %}
                        <button type="submit" class="nav-link btn btn-link">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
        </div>
    </nav>
<!-- =========================== Navbar End =========================== -->

    <div class="container w-50">
        <h2 class="text-center">Edit Product</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group my-2">
                <label for="id_name" class="form-label">Name</label>
                <input type="text" class="form-control" id="id_name" name="name" value="{{ object.name }}">
            </div>
            <div class="form-group my-2">
                <label for="id_price">Price:</label>
                <input type="number" class="form-control price-input" id="id_price" name="price" step="0.01" value="{{ object.price }}">
            </div>
            <div class="form-group my-2">
                <label for="id_image">Image:<a href="{{ object.image.url }}" target="_blank">{{ object.image }}</a></label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="id_image" name="image">
                </div>
            </div>
            <div class="form-group my-2" style="height: 30vh;">
                <label for="id_description">Description:</label>
                <textarea class="form-control h-75" id="id_description" name="description">{{ object.description }}</textarea>
            </div>
            <div class="form-group my-2">
                <label for="id_qty">Quantity:</label>
                <input type="number" class="form-control" id="id_qty" name="qty" value="{{ object.qty }}">
            </div>
            <div class="form-group my-2">
                <label for="id_is_active">Is Active:</label>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="id_is_active" name="is_active" {% if object.is_active %}checked{% endif %}>
                </div>
            </div>
            <div class="container d-flex my-2" style="height: 25vh;">
                <div class="form-group me-5 my-2 h-100">
                    <label for="id_usages">Usages:</label>
                    <div class="h-75">
                        {{ form.usages }}
                    </div>
                </div>
                <div class="form-group me-5 my-2 h-100">
                    <label for="id_category_choices">Category Choices:</label>
                    <div class="h-75">
                        {{ form.category_choices }}
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary my-2">Save Changes</button>
            <a href="{% url 'custom_admin:admin_products' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>


{% endblock content %}