{% extends 'admin_base.html' %}

{% load static %}
{% load i18n %}

{% block title %}Admin Products Delete{% endblock %}

{% block content %}
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmationModalLabel">Confirm Deletion</h5>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"><a href="{% url 'custom_admin:admin_products' %}">Cancel</a></button>
                    <form method="post" action="{% url 'custom_admin:admin_product_delete' product.id %}">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-danger" value="{% trans 'Delete' %}">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- JavaScript to trigger the modal on page load -->
    <script>
        $(document).ready(function(){
            $('#staticBackdrop').modal('show');
        });
    </script>
{% endblock content %}