{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Base_html{% endblock title %}</title>

    <link rel="stylesheet" href="{% static "./css/bootstrap.css" %}}">
    <link rel="stylesheet" href="{% static "./css/style.css" %}}">
</head>
<body>

    <div class="container">
        {% block content %}
        <h1>Base HTML</h1>
        {% endblock %}
    </div>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="{% static "./js/bootstrap.js" %}}"></script>
</body>
</html>