{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Base_html{% endblock title %}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

    <link rel="stylesheet" href="{% static "./css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "./css/style.css" %}">
</head>
{% block head %}
       
{% endblock %}
<body>

<!-- ################################## Header begin ################################## -->
    <header class="header" style=" background-color: #0F4C81; height: 125px;">
        <div class="container">
            <img class="logo d-block mx-auto"  style="max-height: 125px; width: auto;"
            src="{% static 'images/MyFAB_transparent.png' %}" alt="Logo">
        </div>
    </header>
<!-- ################################# Header end ######################################### -->


    
        {% block content %}
        <h1>Base HTML</h1>
        {% endblock %}
    
<!-- ============================= Off canvas section for cart begin ============================-->

    <div class="offcanvas offcanvas-end" tabindex="-1" 
      id="offcanvasRight" aria-labelledby="offcanvasRightLabel" style="max-width: 80%;">
      <!-- ==== Cart Header ====-->
      <div class="offcanvas-header">
          <h5 class="offcanvas-title text-white text-center w-100" id="offcanvasRightLabel">
              <header class="header text-center" style=" background-color: #0F4C81;">
                  <div class="container" style=" max-height: 100px;">
                      <img class="img-fluid d-block mx-auto" style="max-height: 100px; width: auto; display: block;"
                      src="{% static 'images/MyFAB_transparent.png' %}" alt="Logo">
                  </div>
                  Carts
              </header>
          </h5>
      </div>
      <!-- ==== Cart Body ====-->
      <div class="offcanvas-body">
          <div class="container">
              {% if cart_count == 0 %}
              <div>
                  <h3>No cart items yet.</h3>
              </div>
              {% else %}
              <div class="row">
                  <!-- Iterate over cart items -->
                  {% for item in cart_items %}
                  <div class="col-12 mb-2 d-flex" id="item-{{ item.id }}">
                      <div class="product-info  align-items-center me-5 w-25">
                          <img src="{{ item.product_id.image.url }}" 
                          alt="img-name" class="img-thumbnail me-3" style="max-width: 90px;">
                      </div>
                      <div class="quantity-controls">
                          <div>
                              <h6 class="mb-1">{{item.product_id.name}}</h6>
                              <p class="mb-1">Order Type: {% if item.order_type == 1 %}Fabric Only
                                  {% else %}Fabric with stitching{% endif %}
                              </p>
                              <p class="mb-0 fs-5">Price: <i class="fa">&#xf156;</i>{{item.price}}</p>
                              <div class="d-flex">
                                <div>Quantity:</div>
                                <form id="form-cart-qty-update" action="" method="">
                                  {% csrf_token %}
                                  <input type="hidden" id="cart_id" name="cart_id" value="{{ item.id }}">
                                  <input type="number" id="quantity-{{ item.id }}" name="quantity" 
                                  class="form-control form-control-sm text-center ms-2" value="{{ item.qty }}" 
                                  data-cart-id="{{ item.id }}" onchange="updateQuantity(this)">
                                </form>
                                <form id="deleteCartItem-{{ item.id }}" onsubmit="deleteCartItem(event, {{ item.id }})">
                                    {% csrf_token %}
                                    <button type="submit" class="btn" data-toggle="tooltip" title="Delete">
                                        <i class="bi bi-trash3"></i>
                                    </button>
                                </form>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- Alert Msg section -->
                  <div id="update-qty-msg-success-{{item.id}}" class="alert alert-success fade show" 
                    role="alert" style="display: none;">
                    Quantity Updated.
                  </div>
                  <div id="update-qty-msg-error-{{item.id}}" class="alert alert-danger fade show" 
                    role="alert"style="display: none;">
                    Invalid Quantity.
                  </div>
                  <hr>
                  {% endfor %}
              </div>
              <!-- Summary Section -->
              <div class="my-2">
                  <div class="card">
                      <div class="card-body">
                          <h5 class="card-title">Summary</h5>
                          <!-- Add summary details here -->
                          <p class="mb-2">Total items: {{cart_count}}</p>
                          <p class="mb-2">Total Price: <i class="fa">&#xf156;</i> {{total_price}}</p>
                          <!-- Add checkout button -->
                          <a href="{% url "orders:checkout" %}" class="btn btn-primary btn-block">Proceed to Checkout</a>
                      </div>
                  </div>
              </div>
              {% endif %}
          </div>
      </div>
    </div>
<!-- ============================= Off canvas section for cart end ============================-->

<!-- ============================= OJS ============================-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>

      // 1- To delete cart item with axios
      function confirmDelete() {
          return confirm("Are you sure you want to delete this item?");
      }
      function deleteCartItem(event, itemId) {
          event.preventDefault(); // Prevent the default form submission

          // Check if the user confirms deletion
          if (confirmDelete()) {
              console.error('EEntered inside If block for delete');
              const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
              // Send a DELETE request to delete the cart item
              axios.post(`/orders/delete_cart/`, {
                  cartId: itemId
              }, {
                  headers: {
                      'X-Requested-With': 'XMLHttpRequest',
                      'Content-Type': 'application/json',
                      'X-CSRFToken': csrfToken 
                  }
              })
                  .then(response => {
                      // Item deleted successfully, update the cart display
                      // remove the HTML element corresponding to the deleted item
                      const deletedItemElement = document.getElementById(`item-${itemId}`);
                      if (deletedItemElement) {
                          deletedItemElement.remove();
                      }
                  })
                  .catch(error => {
                      console.error('Error deleting cart item:', error);
                      // Handle error if deletion fails
                  });
          } else {
              // If the user cancels deletion, do nothing
              console.log('Deletion cancelled');
          }
      }


      // 2-To update the qty field of Cart when input field changes
      function updateQuantity(element) {
        const cartId = element.dataset.cartId; // Retrieve the cart ID from the data-cart-id attribute
        const newQuantity = element.value;
          console.log('Qty & cart_id is:', newQuantity, cartId);
      
          // Get the CSRF token from the form
          const csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
      
          // Send a POST request to update the quantity
          axios.post('/orders/edit_cart/', {
              quantity: newQuantity,
              cart_id: cartId
          }, {
              headers: {
                  'X-CSRFToken': csrfToken
              }
          })
          .then(response => {
              // Handle success response
              console.log('Quantity updated successfully');

              //To remove focus from input field after enter pressed
              element.blur();  
      
              // Show success message
              var successMessage = document.getElementById(`update-qty-msg-success-${cartId}`);
              successMessage.style.display = 'block';
              // Hide success message after 3 seconds
              setTimeout(function() {
                  successMessage.style.display = 'none';
              }, 3000);

          })
          .catch(error => {
              // Handle error response
              console.error('Error updating quantity:', error);
      
              // Show success message
              var errorMessage = document.getElementById(`update-qty-msg-error-${cartId}`);
              errorMessage.style.display = 'block';
              // Hide success message after 3 seconds
              setTimeout(function() {
                  errorMessage.style.display = 'none';
              }, 3000);
          });
      }
      
      // Trigger the updateQuantity() when enter btn pressed
      document.querySelectorAll('input[name="quantity"]').forEach(input => {
        input.addEventListener("keypress", function(event) {
            if (event.key === "Enter") {
                event.preventDefault(); 
                updateQuantity(event.target);
            }
        });
      });

    </script>


    <!-- ############################ Footer Begin ################################ -->
    <footer
            class="text-center text-lg-start text-white"
            style="background-color: #0F4C81"
            >
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: Links -->
        <section class="">
          <!--Grid row-->
          <div class="row">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">
                MyFAB
              </h6>
              <p>
                Here you can use rows and columns to organize your footer
                content. Lorem ipsum dolor sit amet, consectetur adipisicing
                elit.
              </p>
            </div>
            <!-- Grid column -->
  
            <hr class="w-100 clearfix d-md-none" />
  
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
              <p>
                <a class="text-white">MDBootstrap</a>
              </p>
              <p>
                <a class="text-white">MDWordPress</a>
              </p>
              <p>
                <a class="text-white">BrandFlow</a>
              </p>
              <p>
                <a class="text-white">Bootstrap Angular</a>
              </p>
            </div>
            <!-- Grid column -->
  
            <hr class="w-100 clearfix d-md-none" />
  
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">
                Useful links
              </h6>
              <p>
                <a class="text-white">Your Account</a>
              </p>
              <p>
                <a class="text-white">Become an Affiliate</a>
              </p>
              <p>
                <a class="text-white">Shipping Rates</a>
              </p>
              <p>
                <a class="text-white">Help</a>
              </p>
            </div>
  
            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none" />
  
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
              <p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
              <p><i class="fas fa-envelope mr-3"></i> info@gmail.com</p>
              <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
              <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
            </div>
            <!-- Grid column -->
          </div>
          <!--Grid row-->
        </section>
        <!-- Section: Links -->
  
        <hr class="my-3">
  
        <!-- Section: Copyright -->
        <section class="p-3 pt-0">
          <div class="row d-flex align-items-center">
            <!-- Grid column -->
            <div class="col-md-7 col-lg-8 text-center text-md-start">
              <!-- Copyright -->
              <div class="p-3">
                © 2024 Copyright:
                <a class="text-white" href="https://mdbootstrap.com/"
                   >myfab.com</a
                  >
              </div>
              <!-- Copyright -->
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
              <!-- Facebook -->
              <a
                 class="btn btn-outline-light btn-floating m-1"
                 class="text-white"
                 role="button"
                 ><i class="fab fa-facebook-f"></i
                ></a>
  
              <!-- Twitter -->
              <a
                 class="btn btn-outline-light btn-floating m-1"
                 class="text-white"
                 role="button"
                 ><i class="fab fa-twitter"></i
                ></a>
  
              <!-- Google -->
              <a
                 class="btn btn-outline-light btn-floating m-1"
                 class="text-white"
                 role="button"
                 ><i class="fab fa-google"></i
                ></a>
  
              <!-- Instagram -->
              <a
                 class="btn btn-outline-light btn-floating m-1"
                 class="text-white"
                 role="button"
                 ><i class="fab fa-instagram"></i
                ></a>
            </div>
            <!-- Grid column -->
          </div>
        </section>
        <!-- Section: Copyright -->
      </div>
      <!-- Grid container -->
    </footer>
    <!-- ################################ Footer End ################################## -->


    


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="{% static "./js/bootstrap.js" %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>