{% load static %}
<div class="container-fluid">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="3000">
            <img src="{% static "images/carousel_img_1.png" %}" class="d-block w-100" style="max-height: 50vh;" alt="carousel_img_1">
            <div class="carousel-caption d-none d-md-block">
              <h5>Fabric is the canvas, sewing is the art </h5>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img src="{% static "images/carousel_img_2.png" %}" class="d-block w-100" style="max-height: 50vh;" alt="carousel_img_2">
            <div class="carousel-caption d-none d-md-block">
              <h5>Wrap yourself in luxury, stitch by stitch</h5>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img src="{% static "images/carousel_img_3.png" %}" class="d-block w-100" style="max-height: 50vh;" alt="carousel_img_3">
            <div class="carousel-caption d-none d-md-block">
              <h5>Life's too short to wear boring fabrics</h5>
            </div>
          </div>
        </div>
    </div>
</div>
    