<!-- home.html -->

{% extends 'base.html' %}

{% load static %}
{% load custom_filters %}

{% block title %}Checkout Page{% endblock %}

{% block content %}
<!-- =================================== Navbar Begin ====================================== -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
        <button class="navbar-toggler mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav d-flex align-items-center me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <button class="nav-link active btn btn-link" style="min-width: 150px;" aria-current="page">
                        <a class="text-black text-decoration-none" href="{% url "main:home" %}">Men</a>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link btn btn-link" style="min-width: 150px;" aria-current="page">
                        <a class="text-black text-decoration-none" href="{% url "main:home_women" %}">Women</a>
                    </button>
                </li>
            </ul>
            <ul class="navbar-nav d-flex flex-row justify-content-center  ms-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                <div class="btn-group">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Hi {{user.first_name}}
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'accounts:user_profile' user.id %}">Profile</a></li>
                        <li><a class="dropdown-item" href="{% url "accounts:address" %}">Addresses</a></li>
                        <li><a class="dropdown-item" href="#">Orders</a></li>
                    </ul>
                  </div>
                <li class="nav-item ms-3 ms-lg-0">
                    <form action="{% url 'accounts:logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="nav-link" style="border: none; background: none;"
                            data-toggle="tooltip" title="Logout">
                            <i style='font-size:24px' class='fas'>&#xf2f5;</i>
                        </button>
                    </form>
                </li>
                {% else %}
                <li class="nav-item ms-3 ms-lg-0">
                    <a class="nav-link" >Hi Guest</a>
                </li>
                <li class="nav-item ms-3 ms-lg-0">
                    <a class="nav-link" href="/accounts/login/" data-toggle="tooltip" title="Login">
                        <i style="font-size:24px" class="fa">&#xf007;</i></a>
                </li>
                {% endif %}
            </ul>
        </div>
        </div>
    </nav>
<!-- =========================== Navbar End =========================== -->

<!-- =========================== Checkout Section begin =========================== -->
    <h5 class="border-bottom border-top border-3 border-dark-subtle fw-bold fs-2 fs-lg-5  text-center my-0">
        Checkout
    </h5>
    <section class="bg-light py-4">
        <div class="container d-flex flex-column flex-md-row  border border-3 rounded-4 bg-white">
            <!-- Order table and Summary section -->
            <div class="container">
                <!-- Alert message section -->
                {% if insufficient_qty_error_msg %}
                <div id="alert-message" class="alert alert-danger show fade mt-3" role="alert">
                    {{ insufficient_qty_error_msg }} <br>
                    <a href="/main/products/?show_offcanvas">Go to Carts</a>
                </div>
                {% endif %}
                <!-- Order table -->
                <h4 class="mt-5 mb-4">Order Summary</h4>
                <div class="mb-3">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Unit Price</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cart in carts %}
                            <tr>
                                <td>{{cart.product_id.name}}</td>
                                <td>{{cart.qty}}</td>
                                <td>₹ {{cart.product_id.price}}</td>
                                <td>₹ {{cart.price}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <!-- order summary -->
                        <tfoot>
                            <tr>
                                <th colspan="3">Subtotal</th>
                                <td class="fw-bold">₹ {{ subtotal }}</td>
                            </tr>
                            <tr>
                                <th colspan="3">Shipping</th>
                                <td>₹ 75.00</td>
                            </tr>
                            <tr>
                                <th colspan="3">Grant Total</th>
                                <td class="fw-bold text-danger">₹ {{grant_total}}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <!-- Shipping Address and Payment section -->
            <div class="container">
                <form action="{% url "orders:create_order" %}" method="post">
                    {% csrf_token %}
                    <!-- Shipping Address -->
                    <h4 class="mt-5 mb-4">Shipping Address</h4>
                    <div class="form-group mb-3">
                        <label>Choose an Address:</label>
                        {% for address in addresses %}
                        <div class="form-check d-flex flex-row align-items-center mb-2">
                            <input class="form-check-input me-3" type="radio" name="addressOption" 
                            id="addressOption-{{address.name}}" value="{{address.pk}}"
                            {% if forloop.first %} checked {% endif %}>
                            <label class="form-check-label" for="addressOption-{{address.name}}">
                                <div>{{address.name}}</div>
                                <div>{{address.house_name}}</div>
                                <div>{{address.city}}, {{address.state}}, Pin-{{address.pincode}}</div>
                                <div>Phone Number: {{address.phone_number}}</div>
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                    <hr class="w-50">
                    <!-- Payment Details -->
                    <h4>Payment Options</h4>
                    <div class="form-group mb-3">
                        <label>Choose a Payment Option:</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="paymentOption" id="paymentOptionCOD" value="COD" checked>
                            <label class="form-check-label" for="paymentOptionCOD">
                                Cash on Delivery
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="paymentOption" id="paymentOptionNetBanking" value="Net Banking">
                            <label class="form-check-label" for="paymentOptionNetBanking">
                                Net Banking
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="paymentOption" id="paymentOptionUPI" value="UPI">
                            <label class="form-check-label" for="paymentOptionUPI">
                                UPI
                            </label>
                        </div>
                    </div>
                    <!-- Submit Button -->
                    <div class="d-grid gap-2 col-6">
                        <button type="submit" class="btn btn-primary btn-block mb-3">Place Order</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
<!-- =========================== Checkout Section end =========================== -->

<!-- =========================== JS =========================== -->

    <script>

    </script>

{% endblock %}

