<!-- home.html -->

{% extends 'base.html' %}

{% load static %}
{% load custom_filters %}

{% block title %}Main Home{% endblock %}

{% block content %}
<!-- =================================== Navbar Begin ====================================== -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
        <button class="navbar-toggler mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav d-flex align-items-center me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <button class="nav-link active btn btn-link" style="min-width: 150px; background-color: #0F4C81;" aria-current="page">
                        <a class="text-white text-decoration-none" href="#">Men</a>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link btn btn-link" style="min-width: 150px;" aria-current="page">
                        <a class="text-black text-decoration-none" href="/main/women/">Women</a>
                    </button>
                </li>
            </ul>
            <ul class="navbar-nav d-flex flex-row justify-content-center  ms-auto mb-2 mb-lg-0">
                <li class="nav-item ms-3 ms-lg-0">
                    <a class="nav-link" href="/accounts/login/"><i style="font-size:24px" class="fa">&#xf007;</i></a>
                </li>
                <li class="nav-item ms-3 ms-lg-0">
                    <a class="nav-link" href="#"><i style='font-size:24px' class='fas'>&#xf217;</i></a>
                </li>
            </ul>
        </div>
        </div>
    </nav>
<!-- =========================== Navbar End =========================== -->

<!-- =========================== Carousel Begin ========================== -->
    {% include "carousel_home_page.html" %}
<!-- ============================= Carousel End =============================== -->


<!-- ============================ New explore section Begin =================================== -->
    
    <div class="container-fluid text-center">
      <h5 class="border-bottom border-top border-3 border-dark-subtle fw-bold fs-2 fs-lg-5 mt-2"></h5>
    </div>
    <a class="text-decoration-none" href="/main/products/?choice=male">
      <div class="container-wrapper" style="margin-right: 12px; margin-left: 12px;">
        <div class="container-fluid d-flex justify-content-center align-items-center text-center" style="background-image: url('/static/images/new_arrivals_1.jpg'); background-size: contain; height: 50vh;">
            <h1 class="fw-bold text-white">Explore Our Collections</h1>
        </div>
    </div>
    </a>
    
<!-- =============================== New explore section End ============================= -->


<!-- <section> shop by usage begin ============================-->

  <section class="py-0 mb-2">
    <div class="container-fluid">
        <div class="row h-100">
            <div class="container text-center">
                <h5 class="border-bottom border-top border-3 border-dark-subtle fw-bold fs-2 fs-lg-5 mt-2">Shop By Usage</h5>
            </div>
            <div class="col-12">
              <div class="carousel slide" id="shopbyusage" data-bs-touch="false" data-bs-interval="false">
                <div class="carousel-inner">
                    {% for usage in usages %}
                        {% if forloop.first %}
                            <div class="carousel-item active">
                                <div class="row h-100 align-items-center g-2">
                        {% endif %}
                                    <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                                        <div class="card card-span h-100 text-white">
                                            <img class="img-fluid h-100" src="{{ usage.image.url }}" alt="{{ usage.name }} Image" />
                                            <div class="card-img-overlay ps-0"> </div>
                                            <div class="card-body ps-0 bg-200">
                                                <h3 class="fw-bold text-center text-black text-truncate">{{ usage.name|title }}</h3>
                                            </div>
                                            <a class="stretched-link" href="#"></a>
                                        </div>
                                    </div>
                        {% if forloop.last %}
                                </div>
                            </div>
                        {% elif forloop.counter|divisibleby:4 %}
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row h-100 align-items-center g-2">
                        {% endif %}
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#shopbyusage" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#shopbyusage" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
              </div>            
            </div>
        </div>
    </div>
</section>
<!-- =================== <section> shop by usage end ============================-->

<!-- ================== <section> shop by categories begin ============================-->

{% for category in categories_filtered %}
    {% with choices_per_category=choices_filtered|filter_choices_by_category:category %}
      <section class="py-0 mb-2">
        <div class="container-fluid">
            <div class="row h-100">
                <div class="container text-center">
                    <h5 class="border-bottom border-top border-3 border-dark-subtle fw-bold fs-2 fs-lg-5 mt-2">Shop By {{category.name|title}}</h5>
                </div>
                <div class="col-12">
                  <div class="carousel slide" id="{{category.name}}" data-bs-touch="false" data-bs-interval="false">
                    <div class="carousel-inner">
                          {% for choice in choices_per_category %}
                            {% if forloop.first %}
                                <div class="carousel-item active">
                                    <div class="row h-100 align-items-center g-2">
                            {% endif %}
                                        <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                                            <div class="card card-span h-100 text-white">
                                                <img class="img-fluid h-100" src="{{ choice.image.url }}" alt="{{ choice.name }} Image" />
                                                <div class="card-img-overlay ps-0"> </div>
                                                <div class="card-body ps-0 bg-200">
                                                    <h3 class="fw-bold text-center text-black text-truncate">{{ choice.name|title }}</h3>
                                                </div>
                                                <a class="stretched-link" href="#"></a>
                                            </div>
                                        </div>
                            {% if forloop.last %}
                                    </div>
                                </div>
                            {% elif forloop.counter|divisibleby:4 %}
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row h-100 align-items-center g-2">
                            {% endif %}
                          {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#{{category.name}}" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#{{category.name}}" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                  </div>            
                </div>
            </div>
        </div>
      </section>
    {% endwith %}
{% endfor %}

<!-- ============================= <section> shop by categories End ============================-->

{% endblock %}

