<!-- login.html -->
{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

    <div class="container bg-light w-50 py-3 my-5">
        <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <button type="submit" class="btn text-white  mt-3" style="background-color: #0F4C81">Login</button>
          </form>

    </div>


{% endblock %}
