<!-- home.html -->

{% extends 'base.html' %}

{% load static %}
{% load custom_filters %}

{% block title %}User Orders{% endblock %}

{% block content %}
<!-- =================================== Navbar Begin ====================================== -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
        <button class="navbar-toggler mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav d-flex align-items-center me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <button class="nav-link active btn btn-link" style="min-width: 150px;" aria-current="page">
                        <a class="text-black text-decoration-none" href="{% url "main:home" %}">Men</a>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link btn btn-link" style="min-width: 150px;" aria-current="page">
                        <a class="text-black text-decoration-none" href="{% url "main:home_women" %}">Women</a>
                    </button>
                </li>
            </ul>
            <ul class="navbar-nav d-flex flex-row justify-content-center  ms-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="btn text-black dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" 
                        aria-expanded="false">
                        Hi {{user.first_name}}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'accounts:user_profile' user.id %}">Profile</a></li>
                        <li><a class="dropdown-item" href="{% url "accounts:address" %}">Addresses</a></li>
                        <li><a class="dropdown-item" href="{% url "accounts:orders" %}">Orders</a></li>
                    </ul>
                </li>
                <li class="nav-item ms-3 ms-lg-0">
                    <form action="{% url 'accounts:logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="nav-link" style="border: none; background: none;"
                            data-toggle="tooltip" title="Logout">
                            <i style='font-size:24px' class='fas'>&#xf2f5;</i>
                        </button>
                    </form>
                </li>
                {% else %}
                <li class="nav-item ms-3 ms-lg-0">
                    <a class="nav-link" >Hi Guest</a>
                </li>
                <li class="nav-item ms-3 ms-lg-0">
                    <a class="nav-link" href="/accounts/login/" data-toggle="tooltip" title="Login">
                        <i style="font-size:24px" class="fa">&#xf007;</i></a>
                </li>
                {% endif %}
            </ul>
        </div>
        </div>
    </nav>
<!-- =========================== Navbar End =========================== -->

<!-- =========================== Order Section begin =========================== -->
    <section class="container my-2">
        {% if orders %}
        <h5 class="border-bottom border-top border-3 border-dark-subtle fw-bold fs-2 fs-lg-5 mt-2 text-center">
            Orders
        </h5>
        {% for order in orders %}
        <div class="card my-3 col col-md-11" id="card-{{order.id}}">
            <div class="row g-0">
                <div class="col-md-3">
                    <img src="{{ order.product_id.image.url }}" 
                    class="img-thumbnail img-fluid rounded-start w-100" alt="img-order-{{order.id}}">
                </div>
                <div class="col-md-9">
                    <h4 class="card-header">{{order.product_id.name}}</h4>
                    <div class="card-body">
                        <h5 class="my-0">Order-id: {{order.id}}</h5>
                        <p >
                            <small class="text-body-secondary">
                                Ordered on: {{order.add_date}}
                            </small>
                        </p>
                        <p class="card-text my-0">
                            Order type: {% if order.order_type == 1 %}Fabric only 
                            {% else %}Fabric with stitching{% endif %}
                        </p>
                        <p class="card-text my-0">Quantity: {{order.quantity}} meter.</p>
                        <p class="card-text my-0">Price: <i class="fa">&#xf156;</i> {{order.price}}</p>
                        <p class="card-text my-0" id="status-{{order.id}}">
                            Status: {{order.get_status_display}}
                        </p>
                        {% if order.status == 'D' %}
                        <!-- ========= Accordion for return request  ============= -->
                        <a href="{% url "orders:invoice" order.pk %}">View Invoice</a>
                        <div class="accordion mt-3" id="accordion-{{order.id}}">
                            <div class="accordion-item">
                                
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
                                        data-bs-target="#collapse-{{order.id}}" 
                                        aria-expanded="true" aria-controls="collapseOne">
                                        Request Return
                                    </button>
                                </h2>
                                <div id="collapse-{{order.id}}" class="accordion-collapse collapse" 
                                    data-bs-parent="#accordion-{{order.id}}">
                                    <div class="accordion-body">
                                        <form method="post" enctype="multipart/form-data" 
                                            class="return-form" data-order-id="{{order.id}}">
                                            {% csrf_token %}
                                            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                                            <input type="hidden" name="order_id" id="{{order.id}}" value="{{order.id}}">
                                            <div class="form-group my-2">
                                                <textarea class="form-control" maxlength="300" rows="3" name="reason"
                                                id="reason-{{order.id}}" 
                                                placeholder="Reason(Maximum 300 characters)" required></textarea>
                                            </div>
                                            <div class="form-group my-2">
                                                <label for="image-1-{{order.id}}">Upload Images:</label>
                                                <small class="text-danger">
                                                    (Maximum image size is 2Mb.)
                                                </small>
                                                <div class="custom-file my-2">
                                                    <input type="file" class="custom-file-input" 
                                                        id="image-1-{{order.id}}" name="image_1" required>
                                                    <input type="file" class="custom-file-input" 
                                                        id="image-2-{{order.id}}" name="image_2">
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary"
                                                {% if order.add_date|older_than_2_weeks  %}disabled{% endif %}>
                                                Submit
                                            </button>
                                            <small class="text-danger">
                                                (Return possible only within 2 weeks after delivery)
                                            </small>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% elif order.status == 'C' or order.status == 'R' %}
                        <a href="{% url "orders:invoice" order.pk %}">View Invoice</a><br>
                        <button class="btn btn-primary cancel-btn" style="margin-top: 10px;" disabled>
                            Cancel
                        </button>
                        {% else %}
                        <a href="{% url "orders:invoice" order.pk %}">View Invoice</a><br>
                        <button class="btn btn-primary cancel-btn" style="margin-top: 10px;" id="btn-{{order.id}}"
                            data-order-id="{{ order.id }}" onclick="cancelOrder({{ order.id }})">
                            Cancel
                        </button>
                        <div id="order-cancel-success-msg-{{order.id}}" 
                            class="alert alert-success fade show w-25 my-1" role="alert" style="display: none;">
                            Order Cancelled.
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- =========================== Pagination section =========================== -->
        <div class="pagination justify-content-center">
            {% if orders.has_previous %}
                <a href="?page=1" class="page-link">&laquo; First</a>
                <a href="?page={{ orders.previous_page_number }}" class="page-link">Previous</a>
            {% endif %}
            {% for page in orders.paginator.page_range %}
            <a href="?page={{ page }}" class="page-link {% if orders.number == page %}active{% endif %}">{{ page }}</a>
            {% endfor %}
            {% if orders.has_next %}
                <a href="?page={{ orders.next_page_number }}" class="page-link">Next</a>
                <a href="?page={{ orders.paginator.num_pages }}" class="page-link">Last &raquo;</a>
            {% endif %}
        </div>
        {% else %}
        <h5 class="border-bottom border-top border-3 border-dark-subtle fw-bold fs-2 fs-lg-5 mt-2 text-center">
            Orders
        </h5>
        <h2 class="text-info my-2">
            No Orders Yet
        </h2>
        {% endif %}

    </section>
<!-- =========================== Order Section end =========================== -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        //Request to cancel the order when click cancel button
        function cancelOrder(orderId) {
            var confirmation = window.confirm("Are you sure you want to cancel this order?");
        
            if (confirmation) {
                const csrfToken = "{{ csrf_token }}";
        
                // Show processing indicator
                Swal.fire({
                    title: 'Processing',
                    text: 'Please wait...',
                    allowOutsideClick: false,
                    showConfirmButton: false,
                    onBeforeOpen: () => {
                        Swal.showLoading();
                    }
                });
        
                // Send Axios request
                axios.post('/accounts/orders/', {
                        order_id: orderId
                    }, {
                        headers: {
                            'X-CSRFToken': csrfToken
                        }
                    })
                    .then(function(response) {
                        // Hide processing indicator
                        Swal.close();
                        console.log(response.data);
        
                        // Show success message
                        Swal.fire({
                            icon: 'success',
                            title: 'Order Cancelled',
                            text: 'Your order has been successfully cancelled.',
                            showConfirmButton: true, // Show "OK" button
                            allowOutsideClick: true // Allow clicking outside to close the modal
                        });
        
                        // Optionally, you can perform additional actions here if needed
                        var btnCancel = document.getElementById('btn-' + orderId);
                        var statusDiv = document.getElementById('status-' + orderId);
                        btnCancel.disabled = true;
                        statusDiv.textContent = 'Status: Cancelled';
                    })
                    .catch(function(error) {
                        // Hide processing indicator
                        Swal.close();
        
                        // Handle error
                        console.error(error);
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'An error occurred while cancelling the order.'
                        });
                    });
            }
        }

        //To submit request return order with axios.
        document.addEventListener('DOMContentLoaded', function(){
            document.querySelectorAll('.return-form').forEach(form => {
                form.addEventListener('submit', function(event){
                    event.preventDefault();
                    const form = event.target;
                    const orderId = form.getAttribute('data-order-id')
                    const formData = new FormData(form);
                    const url = '/accounts/return_order/'

                    // Get CSRF token from hidden input
                    const csrfToken = form.querySelector('input[name="csrfmiddlewaretoken"]').value;
                    axios.post(url, formData, {
                        headers: {
                            'Content-Type': 'multipart/form-data',
                            'X-CSRFToken': csrfToken
                        }
                    })
                    .then(response => {
                        console.log('Success:', response.data);
                        window.location.reload();
                        alert('Return request submitted successfully.');
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        if (error.response) {
                            const errors = error.response.data.errors;
                            let errorMsg = 'Form submission failed:\n';
                            for (const [field, messages] of Object.entries(errors)) {
                                errorMsg += `${messages.map(message => message.message).join(', ')}\n`;
                            }
                            window.location.reload();
                            alert(errorMsg);
                        }
                    });
                });
            });
        });
    </script>
{% endblock %}

