<!-- Modal for otp verification -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP_Verification</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="stylesheet" href="{% static "./css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "./css/style.css" %}">
</head>
<body>


    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- madal header -->
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">OTP Verification</h1>
            <button type="button" class="btn-close"  aria-label="Close"></button>
            </div>

            <form method="post" action="/accounts/otp-verification/">
                {% csrf_token %}
                <!-- modal body -->
                <div class="modal-body">
                    {% if invalid_credentials %}
                        <p class="text-danger">Invalid OTP. Try again</p>
                    {% endif %}
                    <div class="form-group">
                        <input type="text" class="form-control" id="otpInput" name="otp" placeholder="Enter OTP">
                        {% if form.otp.errors %}
                            <div class="text-danger">
                                {{ form.otp.errors|join:", " }}
                            </div>
                        {% endif %}
                    </div> 
                </div>
                <!-- modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Verify</button>
                </div>
            </form>
        </div>
        </div>
    </div>
    


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="{% static "./js/bootstrap.js" %}"></script>

    <!-- JavaScript to trigger the modal -->
    <script>
        // Trigger the modal when the page loads
        document.addEventListener('DOMContentLoaded', function() {
            var modal = document.getElementById('staticBackdrop');
            var closeButton = modal.querySelector('.btn-close');
    
            // Add event listener for close button click
            closeButton.addEventListener('click', function() {
                // Redirect to signup page
                window.location.href = "{% url 'accounts:signup' %}";
            });
            
            // Show the modal
            var modalBootstrap = new bootstrap.Modal(modal);
            modalBootstrap.show();
        });
    </script>

</body>
</html>