<!-- products.html -->

{% extends 'base.html' %}

{% load static %}
{% load custom_filters %}

{% block title %}Products{% endblock %}

{% block content %}
<!-- =================================== Navbar Begin ====================================== -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
        <button class="navbar-toggler mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav d-flex align-items-center me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <button class="nav-link active btn btn-link" style="min-width: 150px;" aria-current="page">
                        <a class="text-black text-decoration-none" href="/main/">Men</a>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link btn btn-link" style="min-width: 150px;" aria-current="page">
                        <a class="text-black text-decoration-none" href="{% url "main:home_women" %}">Women</a>
                    </button>
                </li>
            </ul>
            <ul class="navbar-nav d-flex justify-content-center mx-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <form id="formsearch" action="" method="get">
                        <div class="input-group">
                            <input type="text" class="form-control" name="search" value="{% if search_query %}{{ search_query }}{% endif %}">
                            <button type="submit" class="btn btn-outline-secondary " id="clear-search">
                                <span aria-hidden="true"><i style="font-size:24px" class="fa">&#xf00d;</i></span>
                            </button>
                            <button type="submit" class="btn btn-outline-secondary" id="search-prod">Search</button>
                        </div>
                    </form>
                </li>
            </ul>
            <ul class="navbar-nav d-flex flex-row justify-content-center  ms-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                <div class="btn-group">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Hi {{user.first_name}}
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Profile</a></li>
                      <li><a class="dropdown-item" href="#">Addresses</a></li>
                      <li><a class="dropdown-item" href="#">Orders</a></li>
                    </ul>
                </div>
                <li class="nav-item ms-3 ms-lg-0">
                    <a class="nav-link" href="#"><i style='font-size:24px' class='fas'>&#xf217;</i></a>
                </li>
                <li class="nav-item ms-3 ms-lg-0">
                    <form action="{% url 'accounts:logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="nav-link" style="border: none; background: none;">
                            <i style='font-size:24px' class='fas'>&#xf2f5;</i>
                        </button>
                    </form>
                </li>
                {% else %}
                <li class="nav-item ms-3 ms-lg-0">
                    <a class="nav-link" >Hi Guest</a>
                </li>
                <li class="nav-item ms-3 ms-lg-0">
                    <a class="nav-link" href="/accounts/login/"><i style="font-size:24px" class="fa">&#xf007;</i></a>
                </li>
                {% endif %}
            </ul>
        </div>
        </div>
    </nav>
<!-- =========================== Navbar End =========================== -->

<!-- =========================== Product sec header begin =========================== -->
    <div class="container-fluid text-center">
        <h5 class="border-bottom border-top border-3 border-dark-subtle fw-bold fs-2 fs-lg-5 mt-2">Products</h5>
    </div>
<!-- =========================== Product sec header end =========================== -->

<!-- =========================== Product section begin =========================== -->
    <section class="container-fluid prod-sec-flex-container d-flex my-2">
         <!-- Filter section -->
        <div class="container filter-sec w-25 my-4">
            <!-- Toggle button for Filter accordion -->
            <button class="accordion-toggle btn btn-primary d-block d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#filterAccordion" aria-expanded="false" aria-controls="filterAccordion">
                Filters
            </button>
            <!-- Fliter Accordion -->
            <div class="accordion d-none d-lg-block" id="filterAccordion">
                <h6 class="border-bottom border-top border-3 border-dark-subtle  fs-2">Filters and Sort</h6>
                <form action="" method="get">
                    <!-- Hidden search input field to preserve search value when submitting filter form -->
                    <input type="hidden" name="search" value="{% if search_query %}{{ search_query }}{% endif %}">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="sortHeading">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sortCollapse" aria-expanded="false" aria-controls="sortCollapse">
                                Sort By
                            </button>
                        </h2>
                        <div id="sortCollapse" class="accordion-collapse collapse" aria-labelledby="sortHeading" data-bs-parent="#filterAccordion">
                            <div class="accordion-body">
                                <ul class="list-group">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="sort" 
                                        value="newest" id="sort-radio" {% if sort_by == 'newest' %}checked{% endif %}>
                                        <label class="form-check-label" for="sort-radio">
                                            Newest
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="sort" 
                                        value="name_asc" id="sort-radio" {% if sort_by == 'name_asc' %}checked{% endif %}>
                                        <label class="form-check-label" for="sort-radio">
                                            Name (A-Z)
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="sort" 
                                        value="name_dsc" id="sort-radio" {% if sort_by == 'name_dsc' %}checked{% endif %}>
                                        <label class="form-check-label" for="sort-radio">
                                            Name (Z-A)
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="sort" 
                                        value="lowest" id="sort-radio" {% if sort_by == 'lowest' %}checked{% endif %}>
                                        <label class="form-check-label" for="sort-radio">
                                            Price (Lowest)
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="sort" 
                                        value="highest" id="sort-radio" {% if sort_by == 'highest' %}checked{% endif %}>
                                        <label class="form-check-label" for="sort-radio">
                                            Price (Highest)
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="sort" 
                                        value="none" id="sort-radio">
                                        <label class="form-check-label" for="sort-radio">
                                            None
                                        </label>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Category loop -->
                    {% for category, choices in category_choice_dict.items %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="category1Heading">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{category}}Collapse" aria-expanded="false" aria-controls="{{category}}Collapse">
                                {{category|title}}
                            </button>
                        </h2>
                        <div id="{{category}}Collapse" class="accordion-collapse collapse" aria-labelledby="{{category}}Heading" data-bs-parent="#filterAccordion">
                            <div class="accordion-body">
                                <!-- Subcategories for Category -->
                                <ul class="list-group">
                                    <!-- Sub Category loop -->
                                    {% for choice in choices %}
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="choice" 
                                        value="{{choice}}" id="{{ choice }}-check-box" {% if choice in selected_choices %}checked{% endif %}>
                                        <label class="form-check-label" for="{{ choice }}-check-box">
                                            {{ choice|title }}
                                        </label>
                                    </div>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary mt-3">Apply</button>
                    <button type="submit" id="clearFiltersBtn" class="btn btn-secondary mt-3">Clear All</button>
                </form>
            </div>
        </div>
        <!-- Grid section for product display -->
        <div class="container grid-container text-center my-3">
            <div class="container-fluid prod-count-section d-flex">
                <h6>Total {{product_count}} products found</h6>
            </div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
                {% for product in products %}
                <div class="col mt-2">
                    <div class="card" >
                        <img src="{{ product.image.url }}" class="{{product.name}}-img" alt="...">
                        <div class="card-body">
                        <h4 class="card-title text-truncate">{{product.name|title}}</h4>
                        <p class="card-text fw-bold fs-4"><i class="fa">&#xf156;</i>  {{product.price}} /Mtr</p>
                        <a href="{% url 'main:product_details' product.id %}" class="btn btn-primary">Go For It</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- Pagination -->
            <div class="pagination justify-content-center mt-2">
                {% if products.has_previous %}
                    <a href="?page=1{% if selected_choices or sort_by or search_query %}&{% for choice in selected_choices %}choice={{ choice|urlencode }}{% if not loop.last %}&{% endif %}{% endfor %}sort={{ sort_by|urlencode }}&search={{ search_query|urlencode }}{% endif %}"  
                    class="page-link">&laquo; First</a>
                    <a href="?page={{ products.previous_page_number }}{% if selected_choices or sort_by or search_query %}&{% for choice in selected_choices %}choice={{ choice|urlencode }}{% if not loop.last %}&{% endif %}{% endfor %}sort={{ sort_by|urlencode }}&search={{ search_query|urlencode }}{% endif %}"
                    class="page-link">Previous</a>
                {% endif %}
                {% for page in products.paginator.page_range %}
                <a href="?page={{ page }}{% if selected_choices or sort_by or search_query %}&{% for choice in selected_choices %}choice={{ choice|urlencode }}{% if not loop.last %}&{% endif %}{% endfor %}sort={{ sort_by|urlencode }}&search={{ search_query|urlencode }}{% endif %}"
                class="page-link {% if products.number == page %}active{% endif %}">{{ page }}</a>
                {% endfor %}
                {% if products.has_next %}
                    <a href="?page={{ products.next_page_number }}{% if selected_choices or sort_by or search_query %}&{% for choice in selected_choices %}choice={{ choice|urlencode }}{% if not loop.last %}&{% endif %}{% endfor %}sort={{ sort_by|urlencode }}&search={{ search_query|urlencode }}{% endif %}"
                    class="page-link">Next</a>
                    <a href="?page={{ products.paginator.num_pages }}{% if selected_choices or sort_by or search_query %}&{% for choice in selected_choices %}choice={{ choice|urlencode }}{% if not loop.last %}&{% endif %}{% endfor %}sort={{ sort_by|urlencode }}&search={{ search_query|urlencode }}{% endif %}"
                    class="page-link">Last &raquo;</a>
                {% endif %}
            </div>
        </div>
    </section>
    
<!-- =========================== Product section end =========================== -->

<!-- =========================== JS for cancel filters =========================== -->
    <script>
        document.getElementById('clearFiltersBtn').addEventListener('click', function() {
            var checkboxes = document.querySelectorAll('#filterAccordion input[type="checkbox"]');
            var radios = document.querySelectorAll('#filterAccordion input[type="radio"]');

            checkboxes.forEach(function(checkbox) {
                checkbox.checked = false;
            });
            radios.forEach(function(radio) {
                radio.checked = false;
            });
        });

        document.getElementById('clear-search').addEventListener('click', function() {
            var searchbox = document.querySelectorAll('#formsearch input[type="text"]');

            
            searchbox.forEach(function(input) {
                input.value = '';
            });
        });
    </script>
{% endblock %}
