<!-- products.html -->

{% extends 'base.html' %}

{% load static %}
{% load custom_filters %}

{% block title %}Product Details{% endblock %}

{% block content %}
    <style>
        .hidden {
        display: none;
    }
    </style>
<!-- =================================== Navbar Begin ====================================== -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
        <button class="navbar-toggler mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav d-flex align-items-center me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <button class="nav-link active btn btn-link" style="min-width: 150px;" aria-current="page">
                        <a class="text-black text-decoration-none" href="/main/">Men</a>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link btn btn-link" style="min-width: 150px;" aria-current="page">
                        <a class="text-black text-decoration-none" href="{% url "main:home_women" %}">Women</a>
                    </button>
                </li>
            </ul>
            <ul class="navbar-nav d-flex flex-row justify-content-center  ms-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                <div class="btn-group">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Hi {{user.first_name}}
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'accounts:user_profile' user.id %}">Profile</a></li>
                        <li><a class="dropdown-item" href="{% url "accounts:address" %}">Addresses</a></li>
                        <li><a class="dropdown-item" href="{% url "accounts:orders" %}">Orders</a></li>
                    </ul>
                </div>
                <li class="nav-item ms-3 ms-lg-0">
                    <button type="button" class="btn" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                        <i style='font-size:24px' class='fas'>&#xf217;</i>
                    </button>
                </li>
                <li class="nav-item ms-3 ms-lg-0">
                    <form action="{% url 'accounts:logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="nav-link" style="border: none; background: none;">
                            <i style='font-size:24px' class='fas'>&#xf2f5;</i>
                        </button>
                    </form>
                </li>
                {% else %}
                <li class="nav-item ms-3 ms-lg-0">
                    <a class="nav-link" >Hi Guest</a>
                </li>
                <li class="nav-item ms-3 ms-lg-0">
                    <a class="nav-link" href="/accounts/login/"><i style="font-size:24px" class="fa">&#xf007;</i></a>
                </li>
                {% endif %}
            </ul>
        </div>
        </div>
    </nav>
<!-- =========================== Navbar End =========================== -->

<!-- =========================== Product sec header begin =========================== -->
    <div class="container-fluid text-center">
        <h5 class="border-bottom border-top border-3 border-dark-subtle fw-bold fs-2 fs-lg-5 mt-2">Product Details</h5>
    </div>
<!-- =========================== Product sec header end =========================== -->

<!-- =========================== Product details sec begin =========================== -->
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid">
            </div>
            <div class="col-md-6">
                <form id="cart-form" method="post" action="{% url "orders:cart" %}">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="{{ product.id }}">
                    <input type="hidden" name="price" value="{{ product.price }}">
                    <h2 class="mb-4"> {{ product.name }} </h2>
                    <h4 class="font-weight-bold product-price">Price: <i class="fa">&#xf156;</i> {{ product.price }} /Mtr</h4>
                    <small class="mb-4">Shipping calculated at checkout.</small>
                    <!-- Radio to choose order type -->
                    <div class="d-flex ordertype-container mt-3">
                        <div class="form-check me-5">
                            <input class="form-check-input" type="radio" name="ordertype" id="fabric-only" value="1" checked>
                            <label class="form-check-label" for="ordertype">
                            Fabric Only
                            </label>
                        </div>
                        <div class="form-check me-5">
                            <input class="form-check-input" type="radio" name="ordertype" id="fabric-stitching" value="2">
                            <label class="form-check-label" for="ordertype">
                            Fabric with stitching
                            </label>
                        </div>
                    </div>
                    <!-- fabric only div -->
                    <div id="div-fabric-only" class="hidden my-2">
                        <div class="form-group ">
                            <label for="quantity-FO">Quantity (in meters):</label>
                            <input type="number" class="form-control" id="quantity-FO" name="quantity-FO" value="1" min="1">
                        </div>
                    </div>
                    <!-- fabric with stitching options div -->
                    <div id="div-fabric-stitching" class="hidden my-2">
                        <div class="form-group ">
                            <label for="quantity-FS">Quantity (in meters):</label>
                            <input type="number" class="form-control" id="quantity-FS" name="quantity-FS" value="1">
                            <small class="text-danger">Refer Fabric estimator below. 
                                Insufficient material lenght will be returned without stitching.
                            </small>
                        </div>
                        <label for="dresstype">Choose a dress type:</label>
                        <select class="form-select mb-3 dynamic-field" id="dresstype" aria-label="Default select example" name="dresstype">
                            {% for usage in usages %}
                            <option value="{{ usage.name }}">{{ usage.name }}</option>
                            {% endfor %}
                        </select>
                        <div class="measurements-div" id="measurements-container">
                            {% for usage in usages %}
                            <div id="measurements-{{ usage.name }}" class="form-group usage-measurements row" 
                            style="display: none;">
                                {% for measurement in measurements_dict|get_item:usage.pk %}
                                <div class="col-6">
                                    <label for="{{measurement.name}}">{{measurement.name}}(In Inch):</label>
                                    <input type="number" class="form-control dynamic-field" id="{{measurement.name}}" 
                                    name="{{measurement.name}}" style="margin: 5px; border-radius: 5px; border-width: 1px;">
                                </div>
                                {% endfor %}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <hr>
                    <!-- Alert Msg section -->
                    <div id="success-message" class="alert alert-success fade show" role="alert" style="display: none;">
                        Item added to cart.
                    </div>
                    <div id="error-message" class="alert alert-danger fade show" role="alert" style="display: none;"></div>
                    <button type="submit" id="add-to-cart-button" class="btn btn-primary">Add to Cart</button>
                </form>
                <!-- Accordion for product details and ordering info -->
                <div class="accordion my-3" id="productAccordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="descriptionHeading">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#descriptionCollapse" aria-expanded="false" aria-controls="descriptionCollapse">
                                Description
                            </button>
                        </h2>
                        <div id="descriptionCollapse" class="accordion-collapse collapse" aria-labelledby="descriptionHeading" data-bs-parent="#productAccordion">
                            <div class="accordion-body">
                                {{ product.description }} 
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="estimatorHeading">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#estimatorCollapse" aria-expanded="false" aria-controls="estimatorCollapse">
                                Fabric Estimator
                            </button>
                        </h2>
                        <div id="estimatorCollapse" class="accordion-collapse collapse" aria-labelledby="estimatorHeading" data-bs-parent="#productAccordion">
                            <div class="accordion-body text-center">
                                <img src="{% static "images/fabric_estimator.jpg" %}">
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="shippingHeading">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#shippingCollapse" aria-expanded="false" aria-controls="shippingCollapse">
                                Shipping Information
                            </button>
                        </h2>
                        <div id="shippingCollapse" class="accordion-collapse collapse" aria-labelledby="shippingHeading" data-bs-parent="#productAccordion">
                            <div class="accordion-body ">
                                <ul>
                                    <li>We ship across India. For international deliveries, please get in touch with us.</li>
                                    <li>Orders are shipped within 24-48 hours of being confirmed.</li>
                                    <li>Shipment tracking details will be shared with you on the registered email ID.</li>
                                    <li>It takes approximately 3- 5 business days to deliver your product. 
                                        Sometimes delivery may take longer due to bad weather, 
                                        flight/transportation delays, political disruptions or other unforeseen circumstances.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <h3>Related Products</h3>
                <p></p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <h3>Customer Reviews</h3>
                <!-- Display customer reviews here -->
                <p>No reviews yet.</p>
            </div>
        </div>
    </div>
<!-- =========================== Product details sec end =========================== -->

<!-- =========================== JS =========================== -->

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    // Function to show the corresponding order type div based on the initial checked radio button
    function showInitialDiv() {
        var checkedRadio = document.querySelector('input[type=radio][name="ordertype"]:checked');
        if (checkedRadio && checkedRadio.value === '1') {
            document.getElementById('div-fabric-only').classList.remove('hidden');
        }
    }

    // Run the function when the page loads
    window.addEventListener('load', showInitialDiv);

    // Function to show the corresponding order type div when order type radio changes selection
    document.querySelectorAll('input[type=radio][name="ordertype"]').forEach(function(radio) {
        radio.addEventListener('change', function() {
            if (this.value === '1') {
                document.getElementById('div-fabric-only').classList.remove('hidden');
                document.getElementById('div-fabric-stitching').classList.add('hidden');
            } else if (this.value === '2') {
                document.getElementById('div-fabric-only').classList.add('hidden');
                document.getElementById('div-fabric-stitching').classList.remove('hidden');
            }
        });
    });

    // JS To display measurements based on the selected usage
    document.addEventListener('DOMContentLoaded', function() {
        var selectElement = document.getElementById('dresstype');
        var measurementsDivs = document.querySelectorAll('.usage-measurements');

        // Function to display measurements based on selected usage
        function displayMeasurements() {
            var selectedUsageId = selectElement.value;

            // Hide all measurement divs
            measurementsDivs.forEach(function(div) {
                div.style.display = 'none';
            });

            // Show the measurement div of the selected usage
            var selectedUsageDiv = document.getElementById('measurements-' + selectedUsageId);
            if (selectedUsageDiv) {
                selectedUsageDiv.style.display = 'flex';
            }
        }

        // Listen for changes in the select input dress type
        selectElement.addEventListener('change', function() {
            displayMeasurements();
        });

        // Initial display of measurements based on the initially selected usage
        displayMeasurements();
    });

    // Function to serialize form data into a JavaScript object
    // and Add dynamically generated fields to formData manually
    function serializeForm(form) {
        var formData = new FormData(form);
        // Add dynamically generated fields to formData manually
        var dynamicFields = document.querySelectorAll('.dynamic-field');
        dynamicFields.forEach(function(field) {
            // Check if the parent container is visible or selected
            var isParentVisible = field.offsetParent !== null;
            if (isParentVisible) {
                formData.append(field.name, field.value);
                console.log('Field Name:', field.name, 'Field Value:', field.value);
            }
        });
        var obj = {};
        formData.forEach(function(value, key) {
            obj[key] = value;
        });
        return obj;
    }

    // Function to send form data using Axios
    function sendDataToCart() {
        var form = document.getElementById('cart-form');
        var formData = serializeForm(form);
        console.log('Form Data:', formData);

        // Get CSRF token from the form
        var csrfToken = form.querySelector('input[name="csrfmiddlewaretoken"]').value;

        // Send data using Axios POST request
        axios.post('{% url "orders:cart" %}', formData, {
            headers: {
                'X-CSRFToken': csrfToken
            }
        })
        .then(function(response) {
            // Show success message
            var successMessage = document.getElementById('success-message');
            successMessage.style.display = 'block';

            // Reload the page after a short delay
            setTimeout(function() {
                window.location.reload();
            }, 1200);
        })
        .catch(function(error) {
            console.error('Error:', error);
            // Show error message
            var errorMessage = document.getElementById('error-message');
            errorMessage.textContent = error.response.data.error_message;
            errorMessage.style.display = 'block';
            // Hide error message after 3 seconds
            setTimeout(function() {
                errorMessage.style.display = 'none';
            }, 5000);
        });
    }


    // Add event listener to the submit button to send data to Cart view
    document.getElementById('add-to-cart-button').addEventListener('click', function(event) {
        event.preventDefault(); // Prevent default form submission
        sendDataToCart(); // Call function to send data to Cart view
    });
</script>
{% endblock %}
