<!-- home.html -->

{% extends 'base.html' %}

{% load static %}
{% load custom_filters %}

{% block title %}Prifile Page{% endblock %}

{% block content %}
<!-- =================================== Navbar Begin ====================================== -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
        <button class="navbar-toggler mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav d-flex align-items-center me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <button class="nav-link active btn btn-link" style="min-width: 150px;" aria-current="page">
                        <a class="text-black text-decoration-none" href="{% url "main:home" %}">Men</a>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link btn btn-link" style="min-width: 150px;" aria-current="page">
                        <a class="text-black text-decoration-none" href="{% url "main:home_women" %}">Women</a>
                    </button>
                </li>
            </ul>
            <ul class="navbar-nav d-flex flex-row justify-content-center  ms-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                <div class="btn-group">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Hi {{user.first_name}}
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Profile</a></li>
                      <li><a class="dropdown-item" href="{% url "accounts:address" %}">Addresses</a></li>
                      <li><a class="dropdown-item" href="{% url "accounts:orders" %}">Orders</a></li>
                    </ul>
                  </div>
                <li class="nav-item ms-3 ms-lg-0">
                    <form action="{% url 'accounts:logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="nav-link" style="border: none; background: none;">
                            <i style='font-size:24px' class='fas'>&#xf2f5;</i>
                        </button>
                    </form>
                </li>
                {% else %}
                <li class="nav-item ms-3 ms-lg-0">
                    <a class="nav-link" >Hi Guest</a>
                </li>
                <li class="nav-item ms-3 ms-lg-0">
                    <a class="nav-link" href="/accounts/login/"><i style="font-size:24px" class="fa">&#xf007;</i></a>
                </li>
                {% endif %}
            </ul>
        </div>
        </div>
    </nav>
<!-- =========================== Navbar End =========================== -->

<!-- =========================== product edit begin =========================== -->
    <div class="container w-50">
        <h2 class="text-center">User Profile</h2>
        <form method="post" >
            {% csrf_token %}
            <div class="form-group my-2">
                <label for="user_name" class="form-label">User Name</label>
                <input type="text" class="form-control " id="user_name" name="user_name" value="{{user.username}}" disabled>
            </div>
            <div class="form-group my-2">
                <label for="first_name" class="form-label">First Name</label>
                <input type="text" class="form-control " id="first_name" name="first_name" value="{{user.first_name}}">
            </div>
            <div class="form-group my-2">
                <label for="last_name" class="form-label">Last Name</label>
                <input type="text" class="form-control " id="last_name" name="last_name" value="{{user.last_name}}">
            </div>
            <button type="submit" class="btn btn-primary my-2">Save Changes</button>
            <a href="#" onclick="window.history.back();" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
<!-- =========================== product edit end =========================== -->

{% endblock %}

